/* ----------------------------------------------------------------------
	Fixed width
/* ---------------------------------------------------------------------- */
#footer-widgets, #footer, #footer-top, #gmap, #main-content, #page-header, #header, #full-player-wrap, #upcoming-events {
	min-width: 940px;
}
.container { overflow: hidden;}
#header .container { overflow: visible; }