/* ----------------------------------------------------------------------
	Reset & Clearfix (http://meyerweb.com/eric/tools/css/reset/)
/* ---------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,and,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}del{text-decoration:line-through}hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}mark{background-color:#ffffb3;font-style:italic}input,select{vertical-align:middle}ins{background-color:red;color:white;text-decoration:none}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}


/* ----------------------------------------------------------------------
	Light Skin
/* ---------------------------------------------------------------------- */

/* Clearfix */
.clear{clear:both;display:block;height:1px;margin-top:-1px;overflow:hidden;visibility:hidden;width:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0}* html .clearfix,:first-child+html .clearfix{zoom:1}

/* Basic settings */
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
small { font-size: 12px; }
ol { list-style: decimal; }
ul { list-style: disc; }
li { margin: 4px 0 4px 30px; color: #666; }
img { margin-bottom: 5px; }
dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,blockquote,p,iframe { margin-bottom: 20px; }
article { margin-bottom: 30px; }


/* Message for older IE browsers
 ------------------------------------------------------------------------*/
#ie-message { background:#c00; border-bottom:1px solid #900; display: block; margin: 0 auto 20px auto; width:100%; z-index:2000; }
#ie-message p { text-align:center; color:#fff; font-size:13px; padding:20px; margin: 0 25%; }
#ie-message a { color:#fff; font-weight:bold; text-decoration:underline; }


/* Basic Elements & Classes
 ---------------------------------------------------------------------- */

body {
	color: #666;
	font: 14px/1.6 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background: #eee;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

::-moz-selection { background: #fa4c29; color: #fff; text-shadow: none; }
::selection { background: #fa4c29; color: #fff; text-shadow: none; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #555;
	font-weight: 800;
	line-height: 1.4;
	margin-bottom: 15px;
}
#page-header h1, #page-header h2, #page-header h3, #page-header h4, #page-header h5, #page-header h6 { color: #fff; }

a, a > * {
	color: #fa4c29;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	   -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	     -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	        transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}
a:hover, #page-header  a > *:hover { color: #333; }

#page-header a:hover { color: #fff; }

hr {
	background: #ddd;
	margin: 5px 0 40px;
}
#page-header hr { background: #393939; }
hr.divider { margin-bottom:40px; border-bottom: 1px solid #ddd; padding-top: 20px; background: none; }

	p + hr { margin: 25px 0 20px; }

blockquote {
	font: italic 16px/1.6 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	padding: 0 0 0 30px;
	color: #999;
}
	blockquote.single { padding: 30px 0 0 0; margin: 0 0 30px 30px; }
	blockquote .author { 
		padding-top: 20px;
		display: block;
		width: 100%;
		font-size: 14px;
		font-weight: 800;
		font-style: italic;
		text-align: right;
		text-transform: uppercase;
	}
	blockquote .author:before {
		content: "- "
	}
	blockquote p:last-of-type { margin-bottom: 0; }

	blockquote small { font-size: 12px; }
	#page-header blockquote { color: #fff; }

/* --- Buttons --- */

/* Default button */
input[type="submit"], button, .btn {
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #fff !important;
	font-weight: 800;
	font-size: 14px;
	cursor: pointer;	
	height: auto;
	width: auto;
	overflow: visible;
	padding: 12px 20px;
	border: 1px solid #d03f22;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 0 20px 0 0;
	background: #fa4c29; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb37c 0%, #fa4c29 4%, #d03f22 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb37c), color-stop(4%,#fa4c29), color-stop(100%,#d03f22)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4c29', endColorstr='#d03f22',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:hover, button:hover, .btn:hover {
	color: #fff;
	background: #ea401e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb37c 0%, #ea401e 4%, #bb3317 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb37c), color-stop(4%,#ea401e), color-stop(100%,#bb3317)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea401e', endColorstr='#bb3317',GradientType=0 ); /* IE6-9 */
}
.btn { display: inline-block;}
	.text-right .btn { margin: 0 0 0 20px; }
	.text-center .btn { margin: 0 0 0 20px; }
		input[type="submit"].small, button.small, .btn.small { padding: 8px 12px; font-size: 12px; }
		input[type="submit"].medium, button.medium, .btn.medium { padding: 14px 22px; font-size: 14px;}
		input[type="submit"].large, button.large, .btn.large { padding: 16px 32px; font-size: 16px; }

/* Text Button */
.text-button {
	display: block;
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 12px;
}
	.text-button:before {
		content: "-";
		margin-right: 4px;
	}

/* Wide button */
.btn.wide {
	width: 100%;
	margin-right: 0;
	padding: 0;
}

/* Dropcap */
.dropcap {
	background: #fff;
	color: #111;
	display: inline-block;
	float: left;
	font-size: 24px;
	font-weight: 800;
	height: 36px;
	line-height: 36px;
	margin: 0 7px 0 0;
	text-align: center;
	width: 36px;
}
/* Invert */
.dropcap.invert {
	background: #111;
	color: #fff;
}

/* --- Image effects --- */

/* Shared styles */
.thumb-slide, .thumb-icon {
	cursor: pointer;
	display: block;
	position: relative;
	font-size: 0;
	overflow: hidden;
	line-height: 0;
}
	.thumb-slide img, .thumb-icon img { 
		margin-bottom: 0;
		line-height: normal;
	}
	.thumb-slide.alignleft, .thumb-icon.alignleft { margin-bottom: 30px; margin-right: 30px; }
	.thumb-slide.alignright, .thumb-icon.alignright { margin-bottom: 30px; margin-left: 30px; }
	.thumb-slide.aligncenter, .thumb-icon.aligncenter { margin-bottom: 30px; }
	

/* Thumb slide */
.thumb-slide .thumbs-wrap {
	display: block;
	z-index:1;
}
.thumb-slide img:last-child {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.ie8 .thumb-slide img:last-child { background-color: #000;}

.thumb-slide img { max-width: 100%; max-height: 100%;}
	
/* Thumb icon */
.thumb-icon img { max-width: 100%; }
.thumb-icon .icon {
	position: absolute;
	opacity: 0;
	filter:alpha(opacity=0);
	background: transparent url(img_light/opacity80.png) left top repeat;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
	left:0;
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
		-ms-transition: all .4s ease;
		 -o-transition: all .4s ease;
			transition: all .4s ease;

}
.thumb-icon:hover .icon {
	opacity: 1;
	filter:alpha(opacity=100);
}
.thumb-icon .icon:after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 3;
	top: 0;
	left:0;
	background: transparent center center no-repeat;
}
.thumb-icon .plus.icon:after { background-image: url(img_light/thumb-icon-plus.png); }
.thumb-icon .soundcloud.icon:after { background-image: url(img_light/thumb-icon-soundcloud.png); }
.thumb-icon .view.icon:after { background-image: url(img_light/thumb-icon-view.png); }

/* Badgets */
.badge {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 50px;
	height: 51px;
	z-index: 100;
}
.badge.new { background-image:  url(img_light/badge-new.png); }
.badge.free { background-image: url(img_light/badge-free.png); }

/* Flexible video */
.video {
	margin: 0 0 30px;
	padding: 0;
	width: 100%;
}


/* Generic Classes
 ---------------------------------------------------------------------- */

.hidden { display: none; }

.disabled { cursor: auto; }

.no-margin { margin: 0 !important; }

.aligncenter { margin-left: auto; margin-right: auto; text-align: center; }
img.size-1-2 { width: 50%; height: auto; }
img.size-3-4 { width: 75%; height: auto; }

	img.aligncenter { display: block; margin-bottom: 30px; }

.alignleft { float: left; }

	img.alignleft { margin-bottom: 30px; margin-right: 20px; }

.alignright { float: right; }

	img.alignright { margin-bottom: 30px; margin-left: 20px; }

.spacer { 
	width: 100%;
	height: 60px;
	clear: both;
}
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }


/* Styles Classes
 ---------------------------------------------------------------------- */
.dark { color: #666; }
.color { color: #fa4c29; }

/* Special icons for headings */
.heading-icon { 
	background: transparent left top no-repeat; 
	padding-top: 70px;
	min-width: 60px;
	margin-bottom: 40px;
}
.heading-icon.deck { background-image:  url(img_light/icon-deck.png); }
.heading-icon.contact { background-image:  url(img_light/icon-contact.png); }
.heading-icon.podcast { background-image:  url(img_light/icon-podcast.png); }
.heading-icon.video { background-image:  url(img_light/icon-video.png); }
.heading-icon.bio { background-image:  url(img_light/icon-bio.png); }

/* Line heading */
.line-heading {
	position: relative;
	z-index: 1;
	padding-bottom: 30px;
	clear: both;
}
.line-heading span {
	position: absolute;
	z-index: 3;
	padding-right: 12px;
	background: #eee;
}
.line-heading:after {
	content: "";
	border-top: 1px solid #ddd;
	padding-top: 4px;
	width: 100%;
	height: 1px;
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 1;
}

/* Large heading */
.large-heading { 
	font-size: 48px; 
	line-height: 1.2em;
}

/* Medium heading */
.medium-heading { 
	font-size: 36px; 
	line-height: 1.2em;
}

/* Light heading */
.light-heading { font-weight: 400; }


/* Content
 ---------------------------------------------------------------------- */

/* Main content wrap */
#main-content {
	margin-top: 80px;
}
	.content { 
		clear: both; 
		overflow: hidden;
		margin-bottom: 40px; 
	}

	
	/* Main
	 ---------------------------------------------------------------------- */
	#main {
		float: left;
		margin: 0 40px 0px 0;
		width: 680px;
		overflow: hidden;
	}


		/* Columns
		 ---------------------------------------------------------------------- */
		#main .col-1-2 { width: 330px; }
		#main .col-1-3 { width: 213px; }
		#main .col-2-3 { width: 447px; }
		#main .col-1-4 { width: 155px; }
		#main .col-3-4 { width: 505px; }


/* Lists
 ---------------------------------------------------------------------- */

/* none */
ul.none {
	list-style: none;
	margin: 0;
}

/* Stats list */
ul.stats {
	list-style: none;
	overflow: hidden;
	margin-top: 40px;
	display: block;
	max-width: 460px;
}
ul.stats li {
	height: 75px;
	width: 130px;
	position: relative;
	margin-bottom: 15px;
	float: left;
	overflow: hidden;
}
ul.stats li:first-child { margin-left: 0;}
ul.stats li:nth-child(4) { margin-left: 0;}

ul.stats li .stat-value { 
	font-size: 48px;
	color: #fa4c29;
	font-weight: 800;
	line-height: normal;
}
ul.stats li .stat-name {
	position: absolute;
	font-weight: 400;
	text-transform: uppercase;
	left: 0;
	bottom: 0;
	font-size: 11px;
	color: #666;
}

/* Details */
ul.details {
	font-size: 13px;
	margin-bottom: 30px;
}
ul.details:before {
	display: block;
	content: " ";
	width: 30px;
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
}
	ul.details li {
		margin-left: 0;
		margin-bottom: 4px;
		display: block;
		position: relative;
	}
	ul.details li span {
		position: absolute;
		left: 0;
		top: 0;
		color: #999;
		display: block;
	}
	ul.details div {
		margin-left: 80px;
	}
	ul.details a {
		color: #fa4c29;
		display: inline-block;
	}
	ul.details a:hover {
		color: #333;
	}
	ul.details a:before {
		content: "\00B7";
		display: inline-block;
		padding: 0 4px;
		color: #999;
	}
	ul.details a:first-child:before { display: none; }


/* Alert Boxes
 ---------------------------------------------------------------------- */

.error, .success, .info, .warning {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid;
	padding: 16px 24px 16px 24px;
	clear: both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.error {
	color: #D63301;
	background-color: #FFCCBA;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}


/* Forms
 ---------------------------------------------------------------------- */

label {
	cursor: pointer;
	display: block;
	margin: 0 0 5px;
	color: #666;
	font-size: 13px;
}

input, textarea, select {
	background-color: #e1e1e1;
	border: 1px solid #ccc;
	color: #333;
	font: 12px/1.5;
	padding: 10px;
	border-radius: 0;
}

input, select {
	width: 200px;
}

textarea {
	padding: 10px;
	resize: both;
	width: 100%;
	min-height: 200px;
}

select, option {
	cursor: pointer;
	padding: 5px 7px;
}

/* Form */
.form, 
#commentform {
	max-width: 100%;  
}
	.form input, .form textarea,
	#commentform input, #commentform textarea {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
	}
	.form input,
	#commentform input { padding-top: 12px; padding-bottom: 12px; }

	.form textarea,
	#commentform textarea { min-height: 200px; }

	.form .input,
	#commentform .input {
		display: inline-block;
		margin: 0 20px 24px 0;
	}

	.form input[type="submit"],
	#commentform input[type="submit"] {
		margin: 0;
		width: auto;
		min-width: 160px;
		height: auto;
	}
	.ie8 .form input[type="submit"], 
	.ie8 #commentform input[type="submit"] { min-width: 100px; }


/* Wrap
 ---------------------------------------------------------------------- */

.container {
	margin: 0 auto;
	position: relative;
	width: 940px;
}
		
	/* Columns
	 ---------------------------------------------------------------------- */

	.col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-3-4 {
		float: left;
		margin-right: 20px;
	}

	.last { margin-right: 0px !important; }

	.col-1-2 { width: 460px; }

	.col-1-3 { width: 300px; }

		.col-2-3 { width: 620px; }

	.col-1-4 { width: 220px; }

		.col-3-4 { width: 700px; }


	/* Masonry
 	 ---------------------------------------------------------------------- */

	.masonry-wrap { 
		margin-bottom: 40px;
		overflow: hidden;
	}	
	.masonry {
		margin: 1px 1px;
		float: left;
		overflow: hidden;
	}
	.masonry img { margin: 0; max-width: 100%; max-height: 100% }

	.masonry.width-1-4 { width: 233px; }
	.masonry.height-1-4 { height: 233px; }
	.masonry.width-1-2 { width: 468px; }
	.masonry.height-1-2 { height: 468px; }
	.masonry.width-3-4 { width: 703px; }
	.masonry.height-3-4 { height: 703px; }

	/* Info box */
	.masonry .text-box {
		background-color: #0b0b0b;
		overflow: hidden;
		height: 100%
	}
	.masonry .text-box .inner {
		margin: 40px 30px;
	} 
	.masonry .text-box .hgroup {
		margin-bottom: 30px !important;
		max-width: 100% !important;
	}


/* Top Navigation
 ---------------------------------------------------------------------- */
ul.nav {
    position: relative;
    margin-bottom: 0;
  }
	ul.nav li {
		position: relative;
		float: left;
		zoom: 1;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul.nav li a {
		display: block;
	}
	ul.nav ul {
		width: 15.379em;
		visibility: hidden;
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9999;
		margin: 0;
	}
	ul.nav ul li { float: none; }
	ul.nav ul li a {
		width: 100%;
		display: inline-block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
	ul.nav ul ul {
		left: 100%;
		top: 0;
	}
	ul.nav li:hover > ul {
		visibility: visible;
		display: block;
	}

#top-wrap {
	background: #c2c2c2;
	padding: 0 8px;
	border-bottom: 1px solid #b0b0b0;
}
	#top-wrap #top-nav {
		display: block;
	}
	#top-wrap ul.nav {
		font-size: 12px;
	}
	#top-wrap ul.nav li a {
		padding: 1.387em 1em;
		color: #555;
		font-weight: bold;
	}
	#top-wrap ul.nav li a:hover {
		color: #111;
		text-decoration: none;
	}
	#top-wrap ul.nav ul a {
		color: #ccc;
	}
	#top-wrap ul.nav ul a:hover {
		background: #111;
		color: #fff;
	}
	#top-wrap ul.nav li.menu-item-has-children:hover > a {
		color: #ccc;
	}
	#top-wrap ul.nav li.menu-item-has-children:hover > a:hover {
		color: #fff;
	}
	#top-wrap ul.nav > li:hover {
		background: #111;
	}
	#top-wrap ul.nav ul {
		background: #111;
	}
	#top-wrap ul.nav ul li a {
		padding: 1em 1em;
	}

	/* Top right navigation */
	#top-wrap .top-right-nav {
		width: auto;
		float: right;
	}

	#top-wrap ul.top-right-nav > li a:hover { background: none; }
	#top-wrap ul.top-right-nav > li:hover { background: none; }

	/* Search */
	#top-wrap .top-right-nav li.search form {
		margin-bottom: 0;
		margin-top: 0.8em;
		display: block;
		overflow: hidden;
	}
	#top-wrap .top-right-nav li.search #s {
	
	}
	#top-wrap .top-right-nav li.search button {
		line-height: 0;
	}

	#top-wrap .top-right-nav li.search:hover {
		background: none;
	}

/* Responsive */
#top-wrap .responsive-nav {
	margin-top: 20px;
}


/* Header
 ---------------------------------------------------------------------- */

#header {
	background-color: #ccc;
	height: 86px;
	z-index: 300;
	width: 100%;
}

	#logo {
		float: left;
		padding: 0;
		margin-top: 30px;
	}


/* Navigation
 ---------------------------------------------------------------------- */

/* --- MAIN NAVIGATION --- */
#main-nav { 
	float: right;
	border-right: 1px solid #d6d6d6;
	border-left: 1px solid #b0b0b0;
	z-index: 100;
}

		#main-nav li {
			list-style: none;
			float: left;
			margin: 0;
			position: relative;
		}

			#main-nav a {
				color: #555;
				font-size: 12px;
				font-weight: 800;
				display: block;
				padding: 0 20px;
				line-height: 86px;
				border-left: 1px solid #d6d6d6;
				border-right: 1px solid #b0b0b0;
				position: relative;
				text-align: center;
				text-transform: uppercase;
				z-index: 98;
			}

				#main-nav a:hover, #main-nav .hover > a, #main-nav .current-menu-item > a, #main-nav .current_page_item > a, #main-nav .current-menu-ancestor > a, #main-nav .active > a {
					color: #fa4c29;
				}

				#main-nav a:hover, #main-nav .hover > a, #main-nav .current-menu-item > a, #main-nav .current_page_item > a, #main-nav .current-menu-ancestor > a { background-color: #dadada; border-left: 1px solid #e2e2e2; }
				#main-nav .active > a { background-color: #dadada; }

			/* Sub nav */
			#main-nav ul ul {
				background: #161616;
				-webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
				   -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
						box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
				display: none;
				left: 0;
				padding: 0;
				position: absolute;
				top: 86px;
				width: 200px;
				z-index: 300;
			}

				#main-nav ul ul li { float: none; }

					#main-nav ul ul a {
						border: 0;
						border-bottom: 1px solid #0a0a0a;
						border-top: 1px solid #1f1f1f;
						color: #aaa;
						display: block;
						font-size: 11px;
						letter-spacing: 0;
						padding: 12px 20px !important;
						text-align: left;
						text-transform: none;
						line-height: normal;
					}

						#main-nav ul ul a:hover, #main-nav ul ul .hover > a, #main-nav ul ul .current-menu-item > a, #main-nav ul ul .current_page_item > a, #main-nav ul ul .current-menu-ancestor > a, #main-nav ul ul .active > a {
							background-color: #121212 !important;
							border-left: none;
						}

			/* Dropdown */
			#main-nav ul ul ul {
				left: 100% !important;
				top: 0 !important;
			}

	/* Responsive Nav */
	#main-nav .responsive-nav, #top-wrap .responsive-nav {
		-webkit-appearance: none; /* Fix for Mobile Safari */
		background-image: url(img_light/responsive-nav.png);
		background-color: #666;
		border: none;
		background-position: center right;
		background-repeat: no-repeat;
		display: none;
		width: 100%;
		color: #fff;
	}

/* --- SINGLE NAVIGATION --- */
/* Single release, gallery, albums, blog... */

#single-nav {
	position: relative;
	z-index: 1;
	height: 64px;
	width: 80px;
	margin: 10px 0 30px 0;
}
	#single-nav:after {
		content: "";
		width: 1px;
		height: 64px;
		background: #ccc;
		position: absolute;
		left: 50%;
		top: 0;
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		transform: rotate(20deg);

	}
	#single-nav a, #single-nav span {
		margin-top: 14px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: top left;
		width: 21px;
		height: 35px;
		opacity: .4;
		filter:alpha(opacity=40);
	}
	#single-nav span {
		opacity: .2;
		filter:alpha(opacity=20);
	}
	#single-nav a:hover {
		opacity: 1;
		filter:alpha(opacity=100);
	}
	#single-nav .nav-prev {
			background-image: url(img_light/nav-prev-single.png);
			float: left;
	}
	#single-nav .nav-next {
			background-image: url(img_light/nav-next-single.png);
			float: right;
	}
	#single-nav.center { margin: 0px auto 80px auto; }


/* Page Header
 ---------------------------------------------------------------------- */

#page-header {
	border-top: 1px solid #292929;
	border-bottom: 1px solid #000;
	background: #222 url(img_light/default-bg.png) center top no-repeat;
	padding-top:40px;
	width:100%;
}

	/* Slogan */
	.slogan { 
		margin-bottom: 40px !important;
		font-size: 36px;
		line-height: 1.2em;
		margin-bottom: 20px;
	}
		.slogan.big { font-size: 48px; }

	/* Title */
	#page-header .page-title {
		font-size: 48px;
		color: #fa4c29;
	}
	.page-subtitle { font-size: 36px;	 }
		.page-title, .page-subtitle {
			line-height: 1.2em;
			margin-bottom: 0; 
		}
	#page-header .hgroup { 
		max-width: 90%;
		display: inline-block;
		margin-bottom: 20px;
	}

	/* Description */
	.header-content {
		font-size: 14px;
		line-height: 1.7em;
		color: #fff;
		margin-bottom: 40px;
	}

	#share-wrap ~ hr, #page-header .hgroup ~ hr, .page-slogan ~ hr, .page-title ~ hr, .page-subtitle ~ hr, .project-title ~ hr {
		margin-bottom: 50px;
		margin-top: 0;
	}


	/* Sharrre
	 ---------------------------------------------------------------------- */
	#share-wrap {
		float: right;
		display: inline-block;
		margin-top: 0px;
	}
		#share .box {
			float: left;
			width: 100%;
		}
			#share .box a:hover {
				text-decoration: none;
			}
			#share .count {
				display: none;
				font-size: 24px;
				background-color: #111;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				text-align: center;
			}
			#share .share {
				display: inline-block;
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				color: #666;
				padding: 2px 8px;
				background-color: #111;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				font-weight: 800;
			}
			#share .buttons {
				position: absolute;
				right: 0;
				width: auto;
				background-color: #fa4c29;
				padding: 10px;
				text-align: center;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
				box-shadow: 0 1px 2px rgba(0,0,0,.3);
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				z-index: 100;
			}
			#share .button {
				float: left;
				margin: 0 5px;
				box-shadow: none;
				padding: 0;
				border-radius: 0px;
				-moz-border-radius: 0px;
				-webkit-border-radius: 0px;
				height: auto;
				cursor: pointer;
				color: white !important;
				text-shadow: none !important;
				font-size: 15px;
				line-height: normal !important;
				background: transparent;
				font-family: arial, sans-serif;
				font-weight: bold;
				letter-spacing: -1px;
			}
			#share .facebook {
				background-image: none;
			}


/* Boxes
 ---------------------------------------------------------------------- */

/* Content boxes */
.boxes { 
	clear: both;
	margin-bottom: 40px;
}
	.boxes .box {
		border-top: 1px solid #ddd;
		padding-top: 30px;
		overflow: hidden;
		-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	 -o-transition: all .2s ease;
		transition: all .2s ease;
	} 
.boxes .box:hover {
	border-top: 1px solid #999;
}
/* Default (without top borders) */
.boxes.default .box { 
	border-top: none;
	padding-top: 0;
}

/* Info boxes */
.info-box {
	margin: 30px 0;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.info-box > p:last-child { margin-bottom: 0; }

/* Alert Boxes */
.error, .success, .info, .warning {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid;
	padding: 16px 24px 16px 24px;
	clear: both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

	.error {
		color: #D63301;
		background-color: #FFCCBA;
	}

	.success {
		color: #4F8A10;
		background-color: #DFF2BF;
	}

	.info {
		color: #00529B;
		background-color: #BDE5F8;
	}

	.warning {
		color: #9F6000;
		background-color: #FEEFB3;
	}


/* Elements
 ---------------------------------------------------------------------- */


	/* Back to Top
	 ---------------------------------------------------------------------- */
	#scroll-button, .touch-device #scroll-button:hover {
		background: transparent url(img_light/scroll-button.png) center center no-repeat;
		top: 40px;
		display: block;
		opacity: 0.8;
		filter:alpha(opacity=80);
		height: 40px;
		width: 40px;
		position: fixed;
		right: 40px;
		text-indent: -9999px;
		-webkit-transition: all .2s ease;
		   -moz-transition: all .2s ease;
			-ms-transition: all .2s ease;
			 -o-transition: all .2s ease;
				transition: all .2s ease;
		z-index: 100;
	}
	#scroll-button.hidden {
		top: -40px;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	.touch-device #scroll-button.hidden {
		top: 40px;
	}

		#scroll-button:hover, .touch-device #scroll-button:active { 
			opacity: 1;
			filter:alpha(opacity=100); 
		}


	/* Tooltip
	 ---------------------------------------------------------------------- */
	.tip-content { 
		position: absolute; 
		opacity: .95; 
		filter:alpha(opacity=95);
		z-index: 999;
	}
		.tip-top { 
			width:36px; 
			height:37px;  
			background:url(img_light/tip-top.png) left top no-repeat; 
			position:absolute; 
			top:-3px; 
			right:-3px;
		}

		.tip-content p { 
			width:220px;
			min-height: 100px;
			padding:20px; 
			margin-bottom:0px;   
			background: #fff;
			font:bold 11px/17px Arial; 
			color:#222; 
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;  
		}
			/* Title */
			.tip-content p span {
				display: block;
				margin-bottom: 10px;
				color: #000;
				font-weight: bold;
				font-size: 12px;
			} 


/* Nivo Slider
 ---------------------------------------------------------------------- */

.slider {
	min-height: 600px;
	border-top: 1px solid #292929;
	border-bottom: 1px solid #000;
	background-color: #222;
}
 	.fullslider {
		position: relative;
		width: 100%;
		height: 600px;
		overflow: hidden;
	}
	.fullslider-content {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
		width: 1920px;
		height: 600px;
	}
	.nivo-slider {
		position:relative;
		width:100%;
		height:auto;
		overflow: hidden;
		background-color: #000;
	}
		article .nivo-slider { margin-bottom: 30px; }

		.nivo-slider img {
			position:absolute;
			top:0px;
			left:0px;
			max-width: none !important;
			background-color: transparent;
		}
		.nivo-main-image {
			display: block !important;
			position: relative !important; 
			width: 100% !important;
			margin:0;
		}

		/* If an image is wrapped in a link */
		.nivo-slider a.nivo-imageLink {
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			border:0;
			padding:0;
			margin:0;
			z-index:6;
			display:none;
		}

		/* The slices and boxes in the Slider */
		.nivo-slice {
			display: block;
			position: absolute;
			z-index: 5;
			height: 100%;
			top: 0;
		}
		.nivo-box {
			display: block;
			position: absolute;
			z-index: 5;
			overflow: hidden;
		}
		.nivo-box img { display:block; }

		/* Caption styles */
		.nivo-caption {
			position: absolute;
			left: 0px;
			bottom: 0px;
			background: #000;
			color: #fff;
			width: 100%;
			z-index: 8;
			padding: 8px 12px;
			opacity: 0.8;
			overflow: hidden;
			display: none;
			font-size: 13px;
			filter:alpha(opacity=8);
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
		.nivo-caption {
			padding:12px;
			margin:0;
			font-size: 14px;
		}
		.nivo-caption a {
			display:inline !important;
		}
		.nivo-html-caption {
		    display:none;
		}
		.nivo-html-title { margin: 0; }

		/* Direction nav styles (e.g. Next & Prev) */
		.nivo-directionNav a {
			position:absolute;
			top:50%;
			margin-top: -45px;
			z-index:9;
			cursor:pointer;
			height: 90px;
			width: 36px;
			text-indent: -9999px;
			background-color: #fa4c29;
			background-repeat: no-repeat;
			-webkit-transition: all .4s ease;
		    -moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			 -o-transition: all .4s ease;
				transition: all .4s ease;
		}
		a.nivo-prevNav {
			left:0px;
			background-position: left center;
			background-image: url(img_light/nav-prev.png);
		}
		a.nivo-nextNav {
			right:0px;
			background-position: right center;
			background-image: url(img_light/nav-next.png);
		}
		a:hover.nivo-prevNav {
			background-position: right center;
			background-color: #000;
		}
		a:hover.nivo-nextNav {
			background-position: left center;
			background-color: #000;
		}

		/* Fullwidth slider */
		.fullslider .nivo-caption {
			padding:12px;
			width: 940px;
			left: 50%;
			margin-left: -470px;
		}
		.fullslider .nivo-directionNav a {
			margin-top: -30px;
			height: 61px;
			width: 37px;
			background-color: transparent;
		}
		.fullslider a.nivo-prevNav { 
			left: 50%; 
			margin-left:-470px;
			background-image: url(img_light/nav-prev-full.png);
		}
		.fullslider a.nivo-nextNav { 
			right: 50%; 
			margin-right:-470px;
			background-image: url(img_light/nav-next-full.png);
		}

  
/* Revolution slider
 ---------------------------------------------------------------------- */

/* list fix */
.tp-simpleresponsive >ul li { margin: 0 }

/* Add fonts to slider captions */
.bannercontainer {	
	padding:5px;		
	background-color:#fff;
	width:940px;	
	position:relative;
	position:relative;	
	margin-left:auto;
	margin-right:auto;	
}

.banner {		
	width:940px;
	height:600px;
	position:relative;
	overflow:hidden;			
}

.bannercontainer-simple {	
	padding:5px;		
	background-color:#fff;
	width:940px;	
	position:relative;
	position:relative;	
	margin-left:auto;
	margin-right:auto;	

}

.banner-simple{		
	width:940px;
	height:600px;
	position:relative;
	overflow:hidden;			
}

.fullwidthbanner-container{
	width:100% !important;		
	position:relative;
	padding:0;		
	max-height:600px !important;
	overflow:hidden;
} 

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:600px !important;
	position:relative;	
}	


/* Portfolio
 ---------------------------------------------------------------------- */

/* Categories filter */
#cat-filter {
	display: block;
	margin: 0px 0 -1px 0;
	overflow: hidden;
}

	#cat-filter li {
		display: block;
		float: left;
		list-style: none;
		margin: 0;
	}

		#cat-filter a {
			background: transparent;
			color: #fff;
			cursor: pointer;
			display: block;
			font-weight: 800;
			margin: 0;
			padding: 18px 14px 18px 14px;
			font-size: 13px;
			
		}

			#cat-filter a:hover { color: #fa4c29; }
			#cat-filter a.active { background: #0b0b0b; color: #fa4c29;}

/* Tags filter */
#tag-filter {
	margin: -40px 0 30px 0;
	overflow: hidden;
	clear: both;
	width: 100%;
	text-align: right;
}

	#tag-filter li {
		display: inline-block;
		list-style: none;
		margin: 0;
	}

		#tag-filter a {
			background: #666;
			color: #ddd;
			cursor: pointer;
			display: block;
			margin: 0 0 5px 5px;
			padding: 3px 6px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			font-size: 12px;
		}

			#tag-filter a:hover { background: #333; color: #ddd; }
			#tag-filter a.active { background: #fa4c29; color: #fff;}


/* Items */
.portfolio.content { overflow:  visible;}
.items { 
	margin: 0 -20px 40px 0;
	position: relative;
	clear: both;
}

	/* Categories */
	.items article .cat {
		display: block;
		font-size: 13px;
		color: #888;
	}
	.cat:before {
		content: '';
		background: transparent url(img_light/icon-headphones.png) left 4px no-repeat;
		display: inline-block;
		width: 15px;
		height: 15px;
		padding-right: 6px;
	}
	.cat a {
		color: #888;
		display: inline-block;
	}
	.cat a:hover {
		color: #fa4c29;
	}
	.cat a:before {
		content: "\00B7";
		display: inline-block;
		padding: 0 4px;
		color: #888;
	}
	.cat a:first-child:before { display: none; }


	/* Isotope */
	.isotope-hidden.isotope-item {
		pointer-events: none;
		z-index: 1;
	}

	.isotope, .isotope .isotope-item {
		-webkit-transition-duration: 0.6s;
		   -moz-transition-duration: 0.6s;
			-ms-transition-duration: 0.6s;
			 -o-transition-duration: 0.6s;
				transition-duration: 0.6s;
		z-index: 2;
	}

	.isotope {
		-webkit-transition-property: height, width;
		   -moz-transition-property: height, width;
			-ms-transition-property: height, width;
			 -o-transition-property: height, width;
				transition-property: height, width;
	}

	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		   -moz-transition-property:	-moz-transform, opacity;
			-ms-transition-property:		 top, left, opacity;
			 -o-transition-property:		 top, left, opacity;
				transition-property:		 transform, opacity;
	}


/* Article footer */
.portfolio article footer {
	background: #e6e6e6;
	width: 100%;
	position: relative;
	padding: 12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-bottom: 1px solid transparent;
	-webkit-transition: all .4s ease;
   	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	 -o-transition: all .4s ease;
		transition: all .4s ease;
}
	.portfolio article:hover footer {
		border-color: #aaa;
	}
	.portfolio article footer h2 {
		font-size: 14px;
		margin-bottom: 6px;
		padding:0;
	}
	.portfolio article footer h2 a { color: #fa4c29; }
	.portfolio article footer h2 a:hover { color: #333; }

	/* Categories */
	.portfolio article .cat {
		padding: 0px;
	}

	/* Images */
	.portfolio .release-image {
		margin-bottom: 0;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}


/* Artists
 ---------------------------------------------------------------------- */
.artists footer p {
	margin-bottom: 20px;
}


/* Events
 ---------------------------------------------------------------------- */
#main-content.events {
	margin-top: 0;
	margin-bottom: -80px;
}
#main-content.events:after, .events-heading:before, .events-heading:after {
	content: "";
	height: 60px;
	width: 1px;
	background: #ccc;
	display: block;
	clear: both;
	margin: 0 auto;
}
#main-content.events:after { height: 80px; }

/* Events heading */
.events-heading {
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	margin: 0;
}

.events ul.events-list {
	margin: 0;
}

/* Events pagination */
.events-pagination {
	clear: both;
}
.events-pagination:before {
	content: "";
	height: 40px;
	width: 1px;
	background: #ccc;
	display: block;
	clear: both;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* Events count */
.events-count {
	color: #fa4c29;
	font-size: 60px;
	font-weight: 800;
	line-height: 0;
	margin: 0;
	display: inline-block;
	line-height: 60px;
}
.events-count:after, .events-count:before { content: ' - '}

/* --- Upcoming Events --- */
#upcoming-events {
	border-top: 1px solid #ccc;
	background: #e0e0e0 url(img_light/map.png) center 20px no-repeat;
	margin-bottom: -80px;
	margin-top: 80px;
}
	#upcoming-events section.container {
		padding: 30px 0 30px 0;
		min-height: 340px;
		position: relative;	
}
	#upcoming-events .events-list li { background: transparent url(img_light/opacity70.png) left top repeat; }


/* Events list */
ul.events-list {
	overflow: hidden;
	margin-bottom: 0;
}
	.events-list li {
		margin: 0;
		position: relative;
		margin-bottom: 1px;
		background: transparent url(img_light/opacity50.png) left top repeat;
		min-height: 64px;
		width: 100%;
	}
		.events-list li a {
			display: block;
			padding: 10px 20px;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.events-list .date {
			position: absolute;
			top: 10px;
			left: 20px;
			color: #eee;
			font-size: 30px;
			font-weight: 800;
			line-height: normal;
		}

		.events-list .title {
			float: left;
			margin: 0px 0 0px 110px;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			font-weight: 800;
			padding-right: 50px;
		}
		.events-list .details { 
			display: block;
			font-weight: 400;
			text-transform: none;
			font-size: 13px;
			color: #bbb;
		}
		.events-list .cover {
			float: left;
			margin: 0px 0 0px 110px;
			opacity: .3;
			filter:alpha(opacity=30);
		}
		.events-list .cover + .title {
			margin-left: 20px;
		}
			.events-list .cover img {
				margin:0;
			}
		.events-list li a:hover {
			-webkit-transition: all .4s ease;
		    -moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			 -o-transition: all .4s ease;
				transition: all .4s ease;
		}
		.events-list li a:hover .date { color: #fff; }
		.events-list li a:hover .title { color: #fa4c29; }
		.events-list li a:hover .cover { opacity: 1; filter:alpha(opacity=100);}

/* Plus Button */
.plus-button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 36px;
	background-color: #fa4c29;
	background-image: url(img_light/plus-button.png);
	background-position: right center;
	background-repeat: no-repeat;
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	 -o-transition: all .4s ease;
		transition: all .4s ease;
	}
	.plus-button:hover, .events-list li a:hover .plus-button {
		background-position: left center;
		background-color: #000;
	}

/* Masonry countdown */

/* Next event countdown */
.countdown-wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #111;
	width: 100%;
	min-height: 54px;
	z-index: 20; 
}
	.countdown { 
		/*box-shadow: inset 0 0 24px #030303;*/
		overflow: hidden;
		float: right;
		margin-right: 36px;
		border-left: 1px solid #1d1d1d;
	}

	.countdown .days, .countdown .hours, .countdown .minutes, .countdown .seconds {
		float: left;
		background: #161616;
		height: 54px;
		padding: 4px 8px 0 6px;
		text-align: center;
		font-size: 24px;
		line-height: normal;
		color: #999;
		font-weight: 800;
		border-left: 1px solid #0a0a0a;
		border-right: 1px solid #1d1d1d;
		min-width: 50px;
	}
	
	.countdown .days:after, .countdown .hours:after, .countdown .minutes:after, .countdown .seconds:after {
		content: attr(data-label);
		font-size: 10px;
		position: relative;
		text-transform: uppercase;
		display: block;
		color: #555;
		font-weight: 400;
	}
	.countdown-title {
		float: left;
		margin-top: 22px;
		width: 160px;
		text-align: center;
		color: #666;
		font-size: 14px;
		text-transform: uppercase; 
	}


/* Page header countdown */
.header-countdown-wrap {
	margin: 80px 0;
	text-align: center;
}
.header-countdown { overflow: hidden; }
.header-countdown .days, .header-countdown .hours, .header-countdown .minutes, .header-countdown .seconds {
		background: #fa4c29;
		display: inline-block;
		margin: 16px;
		height: 144px;
		width: 144px;
		line-height: 144px;
		font-size: 48px;
		text-align: center;
		color: #fff;
		font-weight: 800;
		position: relative;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
	}
	
	.header-countdown .days:after, .header-countdown .hours:after, .header-countdown .minutes:after, .header-countdown .seconds:after {
		content: attr(data-label);
		font-size: 16px;
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		bottom: -50px;
		text-transform: uppercase;
		display: block;
		color: #fff;
	}


/* 404
 ---------------------------------------------------------------------- */
#error-404 {
	width: 240px;
	height: 240px;
	border: 20px solid #ddd;
	margin: 0 auto 40px auto;
	border-radius: 240px;
	background: #fff;
	-moz-border-radius: 240px;
	-webkit-border-radius: 240px;
	text-align: center;
	-webkit-transition: all .8s ease;
	   -moz-transition: all .8s ease;
		-ms-transition: all .8s ease;
		 -o-transition: all .8s ease;
			transition: all .8s ease;
}
.ie8 #error-404 { border: 0; }
#error-404:hover {
	border-color: #999;
}
#error-404 span {
	line-height: 240px;
	font-size: 100px;
	font-weight: bold;
	color: #fa4c29;
}


/* Blog
 ---------------------------------------------------------------------- */

/* Entry */
.entry {
	overflow: hidden;
	margin-bottom: 40px;
}

/* Entry heading  */
.entry-heading { margin-bottom: 20px; }
.entry-heading:before {
	content: " ";
	width: 48px;
	height: 4px;
	display: block;
	background-color: #fa4c29;
	margin-bottom: 15px;
}
	.entry-heading a { color: #555; }
	.entry-heading a:hover { color: #fa4c29; }

/* Entry meta */
ul.entry-meta  { 
	width: 100%;
	min-height: 40px;
	border: 1px solid #ccc;
	clear: both;
	margin:30px 0;
	overflow: hidden;
	font-size: 11px;
	text-transform: uppercase;
	background: #f1f1f1;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
	ul.entry-meta li { 
		margin: 0; 
		float: left;
		padding: 20px 30px;
		color: #666;
		position: relative;
	}
	ul.entry-meta li:before {
		content: " ";
		width: 1px;
		height: 60px;
		display: block;
		background-color: #ccc;
		position: absolute;
		top: -2px;
		right: 0;
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	ul.entry-meta li:last-child {  float: right; }
	ul.entry-meta li:last-child:before { left: 0; }


/* Sidebar
 ---------------------------------------------------------------------- */
.sidebar {
	float: right;
	width: 220px;
	font-size: 13px;
}

.sidebar .thumb-slide img {
	width: 100%;
}


/* Widgets
 ---------------------------------------------------------------------- */
.widget {
	margin-bottom: 40px;
	color: #666;
	clear: both;
	overflow: hidden;
}
	.widget .widget-title {
		color: #444;
		font-weight: 800;
		font-size: 14px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
	}

	/* Remove margin from last child */
	.sidebar .widget:last-child, .box .widget:last-child { margin-bottom: 0;}

	/* Video */
	.widget .video:last-child { margin-bottom: 0;}


	/* --- Theme Widgets --- */

	/* Twitter feed */
	.tweets {
		list-style: none;
		margin: 0;
		font-size: 13px;
	}
		.tweets li {
			margin: 0 0 16px 0;
			color: #666;
		}
		.tweets li:before {
			content: "---";
			color:#999;
			padding-bottom: 5px;
			display: block;
		}
		.tweets li:first-child:before { display: none;}

			.tweets li .date a {
				display: block;
				color: #999;
				font-size: 12px;
				font-style: italic;
				padding-top: 4px;
			}
			.tweets li .date a:hover {
				color: #333;
			}

	/* Flickr */
	.flickr_badge_image a { 
		float: left; 
		line-height: normal;
		font-size: 0; 
	}
	.flickr_badge_image a img { 
		margin: 2px;
		width: 68px;
		height: 68px;
		opacity: 1;
		filter:alpha(opacity=100);
	}
	.flickr_badge_image a:hover img {
		opacity: .3;
		filter:alpha(opacity=30);
	}

	/* Recent comments */
	.recent-comments {
		margin: 0;
		list-style: none;
		font-style: italic;
		font-size: 13px;
	}
		.recent-comments li {
			margin: 0 0 16px 0;
		}
			.recent-comments li .meta {
				display: block;
				color: #999;
				font-size: 12px;
				padding-top: 4px;
				font-style: normal;
			}
			.recent-comments li .meta:hover { color: #fa4c29;}
			.recent-comments li .meta:before {
				content: "- ";
			}

	/* Recent entries */
	.recent-entries {
		margin: 0;
		list-style: none;
		font-size: 13px;
	}
		.recent-entries li {
			margin: 0 0 16px 0;
			position: relative;
		}
			.recent-entries li .date {
				position: absolute;
				left: 0;
				top: 0;
				color: #fff;
				width: 60px;
				font-size: 13px;
				background: #fa4c29;
				text-align: center;
				line-height: 20px;
				font-weight: bold;
			}
			.recent-entries li .date {
				color: #fff;
			}
			.recent-entries li a {
				display: inline-block;
				padding-left: 70px;
				color: #555;
			}
			.recent-entries li a:hover { color: #fa4c29; }


	/* --- Default Wordpress Widgets --- */

	/* Categories / archives / recent posts / meta / menu / pages / links */
	.widget_categories ul, 
	.widget_archive ul, 
	.widget_recent_entries ul, 
	.widget_meta ul,
	.widget_nav_menu ul,
	.widget_pages ul,
	.widget_links ul { margin: 0; }

		.widget_categories li, 
		.widget_archive li, 
		.widget_recent_entries li, 
		.widget_meta li,
		.widget_nav_menu li,
		.widget_pages li,
		.widget_links li {
			list-style: square;
			margin: 0;
			color: #666;
			margin-left: 20px;
			padding: 5px 0;
		}
			.widget_categories a, 
			.widget_archive a, 
			.widget_recent_entries a, 
			.widget_meta a,
			.widget_nav_menu a,
			.widget_pages a,
			.widget_links a {
				color: #666;
				position: relative;
				z-index: 90;
				display: inline-block;
			}
			.widget_categories a span, 
			.widget_archive a span, 
			.widget_recent_entries a span, 
			.widget_meta a span,
			.widget_nav_menu a span,
			.widget_pages a span,
			.widget_links a span {
				z-index: -1;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 0%;
				height: 100%;
				background: #fa4c29;
				-webkit-transition: all .2s ease;
			    -moz-transition: all .2s ease;
				-ms-transition: all .2s ease;
				 -o-transition: all .2s ease;
					transition: all .2s ease;
			}
				.widget_categories a:hover span, 
				.widget_archive a:hover span, 
				.widget_recent_entries a:hover span, 
				.widget_meta a:hover span,
				.widget_nav_menu a:hover span,
				.widget_pages a:hover span,
				.widget_links a:hover span {
					width: 100%;
				}
				.widget_categories a:hover, 
				.widget_archive a:hover, 
				.widget_recent_entries a:hover, 
				.widget_meta a:hover,
				.widget_nav_menu a:hover,
				.widget_pages a:hover,
				.widget_links a:hover { 
					color: #fff;
				}

	/* Search */
	#search { position: relative; }
		input#s {
			border:0;
			width:100%;
			color: #666;
			background: #ddd;
			padding-right: 36px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		#submit-search {
			position: absolute;
			right: 0px;
			top: 0;
			padding: 0;
			width: 36px;
			height: 36px;
			border: none;
			/*background: none;*/
			opacity: .8;
			background: transparent;
			margin-right: 0;
			filter:alpha(opacity=80);
			-webkit-transition: all .4s ease;
		    -moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			 -o-transition: all .4s ease;
				transition: all .4s ease;
		}
		#search:hover #submit-search {
			opacity: 1;
			filter:alpha(opacity=100);
		}

	/* Text Widget */
	.widget_text p { margin-bottom:10px; }

	/* Recent Comments Widgets */
	.widget_recent_comments ul { 
		list-style: none;
		margin: 0;
		color: #666;
	}
		.widget_recent_comments ul li { 
			padding: 5px 0;
			margin: 0; 
		}

	/* Tag Cloud Widget */
	.widget_tag_cloud a { 
		padding:4px 8px; 
		margin:2px;
		display:inline-block; 
		line-height:normal; 
		color:#666; 
		background-color: #ddd;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.widget_tag_cloud a:hover { 
		text-decoration:none; 
		line-height:normal; 
		color:#fff; 
		background: #fa4c29; 
	}

	/* RSS Widget */
	.widget_rss ul {
		list-style: none;
		margin: 0;
	}
		.widget_rss li { 
			padding: 0 0 20px 0;
			margin: 0;
			color: #666;
		}
		.widget_rss li:last-child { padding: 0; }
		.widget_rss li .rss-date { 
			color:#999; 
			display:block;
		}
		.widget_rss li .rssSummary { padding-top: 10px; }
		.widget_rss li cite { 
			display:block; 
			padding:4px 0; 
			color:#999;
		}
		a.rsswidget img { display: none; }

	/* Calendar */
	.widget table#wp-calendar a { 
		display: block; 
		background: #fa4c29;
		color:#fff; 
		line-height:25px; 
		text-decoration:none;
	}
	.widget table#wp-calendar a:hover { 
		background:#333; 
		color:#fff; 
		line-height:25px; 
		text-decoration:none;
	}
	.widget table#wp-calendar { 
		width:99%; 
		margin-left:2px;
	}
	.widget table#wp-calendar tbody td { 
		text-align: center; 
		border: 1px solid #ddd; 
		background: #fff; 
		color:#999; 
		font-size:12px; 
		line-height:25px;
	}
	.widget table#wp-calendar caption { 
		font-size: 12px; 
		font-weight: bold; 
		width: 100%; 
		color:#666; 
		padding:0;
	}
	.widget table#wp-calendar th { 
		font-weight: normal; 
		color:#666; 
		text-align: center; 
		padding-bottom: 2px; 
	}
	.widget table#wp-calendar #next a { 
		text-align: right; 
		color:#666; 
		line-height:10px; 
		background:none;
	}
	.widget table#wp-calendar #prev a { 
		text-align: left;
		color:#666;
		line-height:15px;
		background:none;
	}
	.widget table#wp-calendar #next a:hover, .widget table#wp-calendar #prev a:hover { color:#fff; }


/* Comments
 ---------------------------------------------------------------------- */

.entry.comments { margin-bottom: 0; }

/* Comments list */
.commentlist {
	border-bottom: 1px solid #ddd;
	margin: 27px 0 45px;
	padding: 0 0 30px;
	overflow: hidden;
}

	.theme_comment {
		border-top: 1px solid #ddd;
		list-style: none;
		margin: 30px 0 0;
		padding: 35px 0 0;
		font-size: 13px;
	}

	.theme_comment:first-child {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}

		.theme_comment > article {
			margin: 0;
			overflow: hidden;
		}

			.theme_comment .avatar-wrap {
				background: #ddd;
				padding: 5px;
				float: left;
				position: relative;
				z-index: 1;
			}
			.theme_comment .avatar-wrap img { 
				margin: 0;
				width: 54px;
				height: 54px;
				float: left;
			}
			.theme_comment .avatar-wrap:after {
				content: "";
				width: 8px;
				height: 8px;
				display: block;
				background: #ddd;
				position: absolute;
				right: -5px;
				top: 50%;
				margin-top: -5px;
				z-index: 10;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.ie8 .theme_comment .avatar-wrap:after { display: none; }
			.theme_comment .comment-body, .theme_comment .comment-meta {
				float: right;
				margin: 0 0 -20px 15px;
				width: 600px;
				color: #888;
			}

			.theme_comment .comment-meta { margin-bottom: 0; }

				.theme_comment .author, .theme_comment .author a {
					color: #444;
					margin: 0;
					font-size: 13px;
				}

					.theme_comment .author a:hover { color: #fa4c29; }

				.theme_comment .date {
					color: #999;
					font-size: 12px;
					font-style: italic;
					margin: 0 0 5px;
				}
				.theme_comment .reply a {
					font-size: 12px;
				}

			/* Author */
			.bypostauthor .avatar-wrap, .bypostauthor .avatar-wrap:after { background-color: #333; }

		/* Children */
		.theme_comment .children {
			margin: 0;
			padding: 30px 0 0 70px;
			position: relative;
		}

			.theme_comment .children .theme_comment {
				border-top: 1px solid #ddd;
				margin: 30px 0 0;
				padding: 35px 0 0;
				position: relative;
			}

			.theme_comment .children .theme_comment:first-child { margin-top: 0; }

				.theme_comment .children .comment-body, .theme_comment .children .comment-meta { width: 530px; }

/* --- RESPOND --- */
#respond { }

	/* Form */
	#commentform .input:nth-child(3n) { margin-right: 0; }
	#commentform .input input {  width: 210px; }
	#commentform label { font-weight: bold; }
	#commentform label .required { font-weight: normal; }

	/* Allowed tags */
	.form-allowed-tags { font-size: 12px; }
	.form-allowed-tags span { display: block; }

	/* Comment notes */
	.comment-notes { font-size: 12px; }

	/* Cancel reply */
	#cancel-comment-reply-link { font-size: 18px; }


/* Contact Us
 ---------------------------------------------------------------------- */

/* Google Maps */
#gmap {
	border-top: 1px solid #ccc;
	background-color: #e1e1e1;
	height: 500px;
	position: relative;
	width: 100%;
	margin-bottom: -80px;
	margin-top: 80px;
}
#gmap::before, #gmap::after {
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
	content: '';
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Contact form  */
.contact-form .input:nth-child(2n) { margin-right: 0; }
.contact-form #ajax-message { margin-top: 20px; }

	.contact-form input { width: 298px; }
	.contact-form #contact-subject { width: 620px; }


/* Sound Manager Styles
 ---------------------------------------------------------------------- */

/* Main container */
#sm2-container {
	height:0px;
	overflow: hidden;
}
#soundmanager-debug { display: none; }

/* Playable */
.playable {
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: .5em .8em;
	outline: none;
	background-image: url(img_light/player-play-btn2.png);
	background-repeat: no-repeat;
	background-position: 8px 6px;
	text-indent: 28px;
	margin-bottom: 30px;
}
.track {
	font-weight: bold;
	cursor: pointer;
}

/* Button UI */
.button .playable {
	padding-left: 2.5em;
	min-height: 16px;
}


/* Simple UI */
.playable .ui {
	display: none;
}
.playable.playing .ui,
.playable.paused .ui {
	display: block;
}
.playable .track-title { display: block; }
.playable .ui.progress,
.playable .ui.progress .loading,
.playable .ui.progress .position {
	height: 10px;
}
.playable .ui.progress {
	position: relative;
	border: 1px solid transparent;
	margin: .25em 0 0 0;
	overflow: hidden;
	cursor:ew-resize;
	cursor:-moz-grab;
	cursor:grab;
	margin-right: 100px;
}
.playable .ui.progress .loading,
.playable .ui.progress .position {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.playable .ui.timing {
	display: inline-block;
	cursor: text;
	text-indent: 0;
	text-align: right;
}

/* Volume */
.playable .ui.volume { 
	position: relative;
	width: 60px;
	height: 10px;
	float: right;
	margin: .25em 0 0 0;
	border: 1px solid transparent;
	cursor:ew-resize;
	cursor:-moz-grab;
	cursor:grab;
}
.playable .ui.volume:before {
	content: '';
	display: block;
	position: absolute;
	left: -25px;
	top: -1px;
	width: 18px;
	height: 15px;
	background-image: url(img_light/player-volume.png);
	background-repeat: no-repeat;
	background-position: left top;
	cursor: default;
}
.playable .ui.volume .vol-position {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	width: 70%;
}

/* Corners */
.playable {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Color Scheme */
.playable {
	color: #666;
	background-color: #ddd;
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
		-ms-transition: all .4s ease;
		 -o-transition: all .4s ease;
			transition: all .4s ease;
}
.playable .track-title { color: #666; }
.playable:hover, .playable:hover .track-title { color: #fa4c29; }
span.playable:hover, span.playable:hover .track-title { color: #666; }
.playable.playing {
	color: #666;
	background-image: url(img_light/player-pause-btn2.png);
}
.playable.paused {
	color: #666;
}
.playable .ui.timing {
	color: #999;
}
.playable.paused .ui.timing {
	color: #999;

}
.playable .ui.progress {
	border-color: #888;
	background-color: #888;
}
.playable.paused .ui.progress {
	border-color: #999;
	background: #aaa;
}
.playable .ui.progress .loading {
	background-color: #999;
}
.playable .ui.progress .position {
	background-color: #fa4c29;
}
.playable.paused .ui.progress .position {
	background-color: #ccc;
}
.playable .ui.volume { 
	border-color: #999;
	background: #aaa;
}
.playable .ui.volume .vol-position { background-color: #ccc; }
.playable.paused .ui.volume .vol-position {
	background-color: #ccc;
}
.playable.paused .ui.volume { 
	border-color: #999;
	background: #aaa;
}

/* --- Extended player --- */
.ext-playable {
	background-color: #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 30px;
	overflow: hidden;
}
	.ext-playable .playable {
		margin: 0;
		-moz-border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 0 0;
		border-radius: 5px 5px 0 0;
		border-bottom: 1px solid #ccc;
	}
	.ext-playable .player-button {
		display: inline-block;
		border-right: 1px solid #ccc;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		color: #666;
		padding: 3px 12px 3px 2px;
		margin-left: 6px;
	}
	.ext-playable .player-button:hover { color: #333; }

/* Show ui*/
.show-ui .ui { display: block; }

/* --- Playlist --- */
.playlist {
	list-style: none;
	overflow: hidden;
	margin-bottom: 30px;
	display: block;
	clear: both;
	border-bottom: 1px solid #ccc;
}
	.playlist li {
		margin: 0;
		position: relative;
		width: 100%;
		background-color: #ddd;
		border-top: 1px solid #ccc;
		overflow: hidden;
		padding: 4px 0;
	}
	.playlist li.odd {
		background-color: #d3d3d3;
	}
	.playlist .track-number {
		position: absolute;
		left: 8px;
		top: 8px;
		font-weight: 800;
		color: #999;
		text-align: center;
		width: 20px;
	}
	.playlist .playable {
		margin-left: 30px;
		margin-bottom: 0;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		background-color: transparent;
		background-image: url(img_light/player-play-btn2.png);
	}
	.playlist .playable.playing {
		background-image: url(img_light/player-pause-btn2.png);
	}
	/* Playlist button */
	.playlist .player-button {
		border-radius: 12px;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		float: right;
		margin: 2px 12px 6px 0px;
		color: #ddd;
		padding: 2px 8px;
		background-color: #666;
		line-height: normal;
		font-size: 11px;
		text-transform: uppercase;
		-webkit-transition: all .4s ease;
		   -moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			 -o-transition: all .4s ease;
				transition: all .4s ease;
	}
	.playlist .player-button:hover {
		background-color: #fa4c29;
		color: #fff;
	}
		.playlist .player-button strong { color: #eee; }
		.playlist .player-button:hover strong { color: #fff; }
	.playlist .playlist-details {
		float: left;
		color: #666;
		font-size: 11px;
		margin: 2px 0 6px 42px;
	}


/* Full player
 ---------------------------------------------------------------------- */
#full-player-wrap {
	background: #ccc;
	width: 100%;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #afafaf;
	min-height: 62px;
	clear: both;
}
	/* Navigation */
	#fp-nav {
		float: left;
		margin-top: 20px;
		width: 140px;
	}
		#fp-nav a {
			display: inline-block;
			width: 17px;
			height: 21px;
			margin-right: 12px;
			background-repeat: no-repeat;
			background-position: left top;
			opacity: .6;
			filter:alpha(opacity=60);
		}
		#fp-nav a:hover { opacity: 1; filter:alpha(opacity=100); }
		#fp-nav a.play {
			background-image: url(img_light/fp-play-btn.png);
			background-position: left top;
		}
		#fp-nav a.play.pause {
			background-image: url(img_light/fp-play-btn.png);
			background-position: right top;
		}
		#fp-nav a.next { background-image: url(img_light/fp-next-btn.png); }
		#fp-nav a.prev { background-image: url(img_light/fp-prev-btn.png); }
		#fp-nav a.details { background-image: url(img_light/fp-details-btn.png); }

	/* Player container */
	#full-player {
		float: right;
		width: 800px;
		height: 50px;
		margin-top: 10px;
		position: relative;
		overflow: hidden;
	}

	/* Tracklist */
	#tracklist {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		padding: 0;
		list-style: none;
		z-index: 2;
	}
		#tracklist li {
			margin: 0;
			padding: 0;
			height: 50px;
			overflow: hidden;
		}
			#tracklist li .track {
				background:none;
				padding: 0;
				text-indent: 0;
				margin: 0;
			}

	/* Tracklist navigation */
	#tracklist-nav {
		clear: both;
		width: 100%;
		padding-top: 20px;
		display: none;
	}
		#tracklist-nav ul {
			margin-bottom: 20px;
			list-style: none;
		}
			#tracklist-nav ul li {
				margin: 0;
				padding: 8px 12px;
				color: #666;
				background: #eee;
				border-bottom: 1px solid #ddd;
				-webkit-transition: all .4s ease;
		   		-moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
			 	-o-transition: all .4s ease;
				transition: all .4s ease;
				cursor: pointer;
			}
			#tracklist-nav ul li:hover, #tracklist-nav ul li.active {
				color: #fff;
				background: #fa4c29;
			}
			#tracklist-nav ul li .track-num {
				font-size: 14px;
				display: inline-block;
				margin-right: 20px;
				color: #666;
				font-weight: bold;
			}
			#tracklist-nav ul li:hover .track-num, #tracklist-nav ul li.active .track-num { color: #fff }


/* Footer Top
 ---------------------------------------------------------------------- */
#footer-top {
	width: 100%;
	background-color: #888;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	min-height: 30px;
	margin-top: 80px;
}
	
	/* Contact list
	 ---------------------------------------------------------------------- */
	 .contact { margin-top: 6px; }

		.contact li {
			float: left;
			font-size: 11px;
			list-style: none;
			margin: 0 0 5px 24px;
			padding: 0 0 0 24px;
			color: #ddd;
		}
		.contact li a { color: #ddd; }
		.contact li a:hover { color: #fff; }

		.contact li:first-child { margin-left: 0; }

		.contact .address { background: url(img_light/icon-address.png) no-repeat 0 0; }
		.contact .phone { background: url(img_light/icon-phone.png) no-repeat 4px 2px; }
		.contact .email { background: url(img_light/icon-email.png) no-repeat 0 4px; }


	/* Social icons
	 ---------------------------------------------------------------------- */

	 .social-icons { overflow: hidden; float: right; }
	 	.social-icons:before {
	 		content: '';
			background: transparent url(img_light/share-icon.png) left 4px no-repeat;
			width: 30px;
			float: left;
			height: 28px;
	 	}
		a.social-icon {
			float: left;
			width: 30px;
			height: 30px;
			margin-left: 1px;
			padding: 0;
			background-color: #666;
			background-repeat: no-repeat;
			background-position: left top;
			-webkit-transition: all .4s ease;
			   -moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
				 -o-transition: all .4s ease;
					transition: all .4s ease;
		}
		a:hover.social-icon {
			background-color: #fa4c29;
			background-position: left bottom;
		}
		.social-icon.twitter { background-image: url(img_light/icon-twitter.png); }
		.social-icon.facebook { background-image: url(img_light/icon-facebook.png); }
		.social-icon.googleplus { background-image: url(img_light/icon-googleplus.png); }
		.social-icon.youtube { background-image: url(img_light/icon-youtube.png); }
		.social-icon.vimeo { background-image: url(img_light/icon-vimeo.png); }
		.social-icon.soundcloud { background-image: url(img_light/icon-soundcloud.png); }
		.social-icon.myspace { background-image: url(img_light/icon-myspace.png); }
		.social-icon.digg { background-image: url(img_light/icon-digg.png); }
		.social-icon.skype { background-image: url(img_light/icon-skype.png); }
		.social-icon.lastfm { background-image: url(img_light/icon-lastfm.png); }
		.social-icon.rss { background-image: url(img_light/icon-rss.png); }


/* Footer Widgets
 ---------------------------------------------------------------------- */
#footer-widgets {
	width: 100%;
	background-color: #ccc;
	border-bottom: 1px solid #ddd;
	padding: 40px 0 20px 0;
	font-size: 13px;
}


/* Footer
 ---------------------------------------------------------------------- */

#footer {
	border-top: 1px solid #aaa;
	background-color: #999;
}
	#footer section.container {
		padding: 30px 0 40px 0;
		position: relative;
	}

	#footer, #footer a { color: #fa4c29; }

		#footer a:hover,
		#footer-bottom a:hover { color: #fff; }


	/* Footer Twitter
	 ---------------------------------------------------------------------- */

	#footer-twitter {
		border-left: 1px solid #bbb;
		border-top-color: #bbb;
		padding: 12px 0;
		
	}
		/* Twitter button */
		a.twitter-button {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 66px;
			width: 36px;
			background-color: #fa4c29;
			background-image: url(img_light/twitter-button.png);
			background-position: right center;
			background-repeat: no-repeat;
			-webkit-transition: all .4s ease;
		   	-moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			 -o-transition: all .4s ease;
				transition: all .4s ease;
		}
		a:hover.twitter-button {
			background-position: left center;
			background-color: #fa4c29;
		}

		/* Feed */
		#footer-twitter .tweets { 
			margin: 0;
			padding: 0px 60px 0 25px;
			display: block;
			list-style: none;
			font-size: 13px;
		}	
			#footer-twitter .tweets li { margin-left:0; color: #ddd; }
			#footer-twitter .tweets li a { color:#fff; }
			#footer-twitter .tweets li a:hover { color:#fa4c29; }

			#footer-twitter .tweets .date { display: block; }

				#footer-twitter .tweets .date a {
					color: #ccc;
					font-size: 11px;
					font-style: italic;
				}
				#footer-twitter .tweets .date a:hover { color: #fff; }



	/* Footer Navigation
	 ---------------------------------------------------------------------- */

	#footer-nav {
		margin: 16px 0 12px;
		padding: 0 0 12px;
	}

		#footer-nav ul { margin: 0; }

			#footer-nav li {
				float: left;
				list-style: none;
				margin: 0;
			}
			
				#footer-nav li a {
					border-left: 1px solid #bbb;
					font-size: 11px;
					display: block;
					padding: 0 15px;
					text-transform: uppercase;
					color: #eee;
				}
				#footer-nav li a:hover { color: #fa4c29; }
				#footer-nav li:first-child a {
					border-left: none;
					padding-left: 0;
				}

				#footer-nav li:last-child a { padding-right: 0; }


	/* Footer Copyrights note
	 ---------------------------------------------------------------------- */

	.copyright {
		color: #ddd;
		font-size: 10px;
		text-transform: uppercase;
	}
		.copyright img {
			float: left;
			top: 4px;
			margin-right: 8px;
		}


/* Plugins
 ------------------------------------------------------------------------*/
 
/* WP-PAGENAVI */
.wp-pagenavi {
	height: 35px;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 12px;
	clear: both;
}
	.wp-pagenavi a, .wp-pagenavi span {
		padding: 0 15px;
		display: inline-block;
		line-height: 35px;
		position: relative;
		color: #666;
		font-weight: normal;
	}
	.wp-pagenavi a:hover { color: #333 }
	.wp-pagenavi span.pages { display: none;}
	.wp-pagenavi span.current {
		font-size: 14px;
		color: #333;
		font-weight: bold;
	}

	/* Arrows */
	.wp-pagenavi .nav-prev, .wp-pagenavi .nav-next {
		height: 35px;
		opacity: .2;
		filter:alpha(opacity=20);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		text-indent: -9999px;
	}
	.wp-pagenavi .nav-prev:hover, .wp-pagenavi .nav-next:hover {
		opacity: 1;
		filter:alpha(opacity=100);
	}
	.wp-pagenavi .nav-prev {
		background-image: url(img_light/nav-prev-single.png);
	}
	.wp-pagenavi .nav-next {
		background-image: url(img_light/nav-next-single.png);
	}

	.wp-pagenavi .inactive, .wp-pagenavi .inactive:hover {
		opacity: .1;
		filter:alpha(opacity=10);
		top: 12px;
	}

/* QTRANSLATE */

/* Widgets */
.widget_qtranslate li {
	margin: 0;
	padding: 0 0 4px 0;
	list-style-type: none;
}
	.widget_qtranslate li a span { color: #666; }
	.widget_qtranslate li a:hover span { color: #333; }

	/* Only names */
	.widget_qtranslate li a {

	}

	/* Names nad flags */
	.widget_qtranslate li .qtrans_flag_and_text {
		padding-left: 28px;
		background-position: 0px 3px;
		clear: both;
		display: block;
	}
	.widget_qtranslate li.active a span { 
		color: #333;
		font-weight: bold;
	}

	/* Only flags */
	.widget_qtranslate li .qtrans_flag {
		display: inline-block;
		opacity: 0.4;
		filter:alpha(opacity=40);
	}
	.widget_qtranslate li.active .qtrans_flag {
		opacity: 1;
		filter:alpha(opacity=100);
	}

/* Header widget */
#qtrans-language-chooser {
	width: 100%;
	background-color: #dadada;
	padding: 2px 0;
	border-bottom: 1px solid #b0b0b0;
}
	#qtrans-header-lang-chooser-chooser {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
	}
		/* text */
		#qtrans-header-lang-chooser-chooser li {
			display: inline-block;
			margin: 0 0 -2px 10px;
			font-size: 11px;
		}
			#qtrans-header-lang-chooser-chooser li a span {
				color: #999;
			}
			#qtrans-header-lang-chooser-chooser li.active a span {
				color: #333;
			}

/* LAZY LOAD */
.lazy { 
	min-width: 100%;
	min-height: 100%;
}


/* WooCommerce
 ---------------------------------------*/

/* --- Top header --- */

/* Checkout */
#top-wrap .top-right-nav li.checkout {
	display: inline-block;
	margin-right: 10px;
}
#top-wrap .top-right-nav li.checkout i {
	color: #555;
	margin-right: 10px;
}
#top-wrap .top-right-nav li.checkout a:hover i { color: #fff; }

/* Cart details */
#top-wrap .top-right-nav li.cart {
	width: auto;
	text-align: right;
}
#top-wrap .top-right-nav li.cart a {
	color: #111;
	padding-top: 1.387em;
	padding-left: 1em;
}
#top-wrap .top-right-nav li.cart a:before {
	font-family: 'icomoon';
	content: "\e75a";
	display: inline-block;
	color: #555;
	margin-right: 10px;
	line-height: 0;
	font-weight: normal;
}
#top-wrap .top-right-nav li.cart a:hover:before { color: #111; }
#top-wrap .top-right-nav li.cart a span {
	color: #fff 
}
#top-wrap .top-right-nav li.cart a span.amount {
	color: #555;
	font-weight: bold;
}
#top-wrap .top-right-nav li.cart a:hover span.amount {
	color: #111;
}
#top-wrap .top-right-nav li.cart a .contents {
	padding: .2em .618em;
	background: #fa4c29;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin-left: 1em;
	display: inline;
}

#top-wrap .top-right-nav li.cart a:hover span { color: #fff }


/* --- Global Elements --- */

/* Button */
a.button,
button.button,
input.button,
#respond input#submit,
.cart .button
 {
    color: #fff;
    border: 1px solid #d03f22;
    background: #fa4c29; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb37c 0%, #fa4c29 4%, #d03f22 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb37c), color-stop(4%,#fa4c29), color-stop(100%,#d03f22)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb37c 0%,#fa4c29 4%,#d03f22 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4c29', endColorstr='#d03f22',GradientType=0 ); /* IE6-9 */
}

a.button:hover,
button.button:hover,
input.button:hover,
#respond input#submit:hover,
.cart .button:hover {
	color: #fff;
    border: 1px solid #d03f22;
    background: #ea401e; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb37c 0%, #ea401e 4%, #bb3317 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb37c), color-stop(4%,#ea401e), color-stop(100%,#bb3317)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb37c 0%,#ea401e 4%,#bb3317 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea401e', endColorstr='#bb3317',GradientType=0 ); /* IE6-9 */
}


/* --- Catalog --- */

ul.products li.product {
	background: #e6e6e6;
}

/* Price */
ul.products li.product .price { 
 	color: #666;
}
ul.products li.product .price del {
	font-weight: normal;
	color: #aaa; 
}
ul.products li.product .price ins {
	color: #666; 
}
ul.products li.product .price .from {
	color: #aaa; 
}
ul.products li.product h3 mark { 
    color: #333;
}


/* Pagination
 ---------------------------------------*/
nav.woocommerce-pagination {
	height: 35px;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 12px;
}
nav.woocommerce-pagination ul {
	display: inline-block;
	white-space: nowrap;
	padding: 0;
	clear: both;
	border: none;
	border-right: 0;
	margin: 1px;
}
	nav.woocommerce-pagination ul li {
		border-right: none;
		padding: 0;
		margin: 0;
		float: left;
		display: inline;
		overflow: hidden;
	}
	nav.woocommerce-pagination ul li span,
	nav.woocommerce-pagination ul li a {
		padding: 0 15px;
		display: inline-block;
		line-height: 35px;
		position: relative;
		color: #666;
		font-weight: normal;
		background: none;
	}
	nav.woocommerce-pagination ul li a:hover { 
		color: #333;
		background: none;
	}
	nav.woocommerce-pagination ul li span.current {
		font-size: 14px;
		color: #333;
		font-weight: bold;
		background: none;
	}

	/* Arrows */
	nav.woocommerce-pagination ul li a.prev,
	nav.woocommerce-pagination ul li a.next {
		height: 35px;
		opacity: .2;
		filter:alpha(opacity=20);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		text-indent: -9999px;
	}
	nav.woocommerce-pagination ul li a:hover.prev,
	nav.woocommerce-pagination ul li a:hover.next {
		opacity: 1;
		filter:alpha(opacity=100);
	}
	nav.woocommerce-pagination ul li a.prev {
		background-image: url(img_light/nav-prev-single.png);
	}
	nav.woocommerce-pagination ul li a.next {
		background-image: url(img_light/nav-next-single.png);
	}


/* Single Product
 ---------------------------------------*/
.wc-single-product-row {
	margin-bottom: 20px;
}

/* Price */
.product span.price,
.product span.price del,
.product p.price,
.product p.price del {
	font-weight: bold;
	color: #aaa;
}
.product span.price del {
	color: #aaa;
}
.product p.price,
.product p.price ins {
	color: #666;
}

/* Stock */
.product p.stock {
	color: #999;
}

/* variations */
.product form.cart .variations td{
	border-bottom: 1px solid #ddd;
}

/* Quantity */
.quantity .plus,
.quantity .minus {
    color: #fff;
    background: #666;
}

/* Product meta */
.product_meta {
	border-top: 1px solid #ddd;
}

.product_meta span { color: #666; }
.product_meta a, .product_meta .sku {
	color: #999;
}

/* rating */
.star-rating:before {
    color: #666;
}

/* Tabs */
.woocommerce-tabs ul.tabs {
	border-bottom: 1px solid #ccc; 
}
	.woocommerce-tabs ul.tabs li {
	    color: #666; 
	}
	.woocommerce-tabs ul.tabs li a  { 
        color: #666; 
        background-color: #ddd;
        border: solid 1px #ccc;
        border-width: 1px 1px 0 0;
    }
    .woocommerce-tabs ul.tabs li a:hover {
        color: #fa4c29;
    }
    .woocommerce-tabs ul.tabs li.active a, 
    .woocommerce-tabs ul.tabs li.active:hover a:hover { 
        background-color:#eee;
        color: #fa4c29;
    }

/* Attributes */
table.shop_attributes th {
	color: #666;
    border-bottom: 1px solid #ccc;
}
table.shop_attributes td {
	border-bottom: 1px solid #ddd;
}
table.shop_attributes td p {
    color: #999;
}

/* Cart table */
.cart-collaterals .shipping_calculator h2 a,
.cart-collaterals .shipping_calculator h2 a span {
    color: #666;
}
table.shop_table th, table.shop_table td {
	border-bottom: 1px solid #ddd; 
}
table.shop_table th {
	border-bottom: 4px double #ddd;
}
table.cart th {
    color: #666;
}
td.product-name a {
    color: #666;
}
td.product-name a:hover {
    color: #fa4c29;
}
table.cart a.remove {
    color: #666;
}
table.cart a:hover.remove {
    background: #fa4c29;
}
.cart-collaterals .cart_totals table td {
    border-bottom: 1px solid #ddd;
}
.cart-collaterals .cart_totals table th {
    color: #666;
    border-bottom: 1px solid #ccc;
}
.cart-collaterals .shipping_calculator h2 a,
.cart-collaterals .shipping_calculator h2 a {
    color: #666;
}
form.login,
form.checkout_coupon,
form.register {
    border: 1px solid #ddd;
    background: #ececec;
}
.checkout #order_review {
   	border: 1px solid #ddd;
    background: #ececec;
}

/* Chosen */
.chzn-container-single .chzn-single span { color: #666; }

/* Checkout table */
.woocommerce-checkout table.shop_table th,
.woocommerce-checkout table.shop_table td {
    color: #666;
}
.woocommerce-checkout td.product-name dl.variation dt,
.woocommerce-checkout td.product-name dl.variation dd {
    color: #999;
}
#payment div.payment_box {
	background: #666;
    color: #fff;
}
#payment ul li label {
    color: #666;
}
#payment div.payment_box:after {
	border: 8px solid #666;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

/* Order info */
.order-info mark {
    color: #333;
}

/* Widgets */
.widget_product_search input#s {
	color: #666;
	background: #ddd;
}
ul.cart_list li a,
ul.product_list_widget li a {
    color: #666;
}
ul.cart_list li a:hover,
ul.product_list_widget li a:hover {
	color: #fa4c29;
}
.widget_shopping_cart .total {
    border-top: 3px double #aaa;
}
.widget_shopping_cart .total strong {
    color: #333;
}
ul.cart_list li,
ul.product_list_widget li {
    border-bottom: 1px solid #aaa;
}
ul.cart_list li .amount,
ul.product_list_widget li .amount {
    color: #666;
}
ul.cart_list li del .amount,
ul.product_list_widget li del .amount,
ul.cart_list li del,
ul.product_list_widget li del {
    color: #999;
}
.widget_product_tag_cloud a, 
.widget_product_categories a { 
    color: #666;
}
.widget_product_tag_cloud a:hover, 
.widget_product_categories a:hover {
    color: #fa4c29; 
}
.widget_product_categories li {
    color: #666;
}