/* ----------------------------------------------------------------------
	Media Queries
/* ---------------------------------------------------------------------- */


@media only screen and (max-width: 959px) {


	/* Content
	 ---------------------------------------------------------------------- */
	#main-content img, #page-header img {
		height: auto;
		max-width: 100%;
	}


	/* Header
	 ---------------------------------------------------------------------- */
	#logo { max-height: 100%; }

}


@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		
	/* Content
	 ---------------------------------------------------------------------- */
	.container { width: 748px; }

	/* Columns */
	.col-1-2 { width: 364px; }
	.col-1-3 { width: 236px; }
	.col-2-3 { width: 492px; }
	.col-1-4 { width: 172px; }
	.col-3-4 { width: 556px; }

	/* Main */
	#main { width: 488px; }
		#main .col-1-2 { width: 234px; }
		#main .col-1-3 { width: 149px; }
		#main .col-2-3 { width: 319px; }
		#main .col-1-4 { width: 107px; }
		#main .col-3-4 { width: 361px; }


	/* Lists
 	 ---------------------------------------------------------------------- */

	/* Stats list */
	ul.stats {
		margin-top: 40px;
		max-width: 364px;
	}
	ul.stats li {
		height: 65px;
		width: 101px;
	}
	ul.stats li .stat-value { 
		font-size: 36px;
	}
	ul.stats li .stat-name {
		font-size: 10px;
		color: #666;
	}


	/* Masonry
	 ---------------------------------------------------------------------- */
	.masonry.width-1-4 { width: 185px;}
	.masonry.height-1-4 { height: 185px; }
	.masonry.width-1-2 { width: 372px; }
	.masonry.height-1-2 { height: 372px; }
	.masonry.width-3-4 { width: 559px; }
	.masonry.height-3-4 { height: 559px; }

		/* Info box */
		.masonry .text-box .inner { margin: 20px 30px; }
		.masonry .text-box .hgroup { margin-bottom: 20px !important; }
		.masonry .text-box .hgroup h3 { font-size: 18px; }
		
	
	/* Header
	 ---------------------------------------------------------------------- */
	#header { height: 72px; }
	#logo { margin-top: 20px; }


		/* Main Navigation
	 	 ---------------------------------------------------------------------- */
		#main-nav {
			float: none;
		}

		#main-nav > ul { display: none; }
		#main-nav .responsive-nav { 
			float: right;
			display: block; 
			max-width: 300px;
			margin-top: 20px;
		}


	/* Full player
 	 ---------------------------------------------------------------------- */
 	#full-player { width: 608px; }
	#fp-nav {}


	/* Slider
	 ---------------------------------------------------------------------- */

	/* Fullwidth slider */
	.slider { min-height: 438px; }
 	.fullslider { height: 438px; }
	.fullslider-content {
		margin-left: -700px;
		width: 1400px;
		height: 438px;
	}
	.fullslider .nivo-caption {
		width: 748px;
		margin-left: -374px;
	}
	.fullslider a.nivo-prevNav { margin-left:-374px; }
	.fullslider a.nivo-nextNav { margin-right:-374px; }

	/* Nivo slider */
	.nivo-caption { font-size:12px; padding: 12px; }
	.nivo-html-title { font-size: 13px; }


	/* Events
 	 ---------------------------------------------------------------------- */
 	.countdown { border-left: none;}
 	.days, .hours, .minutes, .seconds { min-width: 68px }
	.countdown-title { display:none; }


	/* Comments
	 ---------------------------------------------------------------------- */
	.comment .comment-body, .comment .comment-meta { width: 408px; }
	.comment .children .comment-body, .comment .children .comment-meta { width: 338px; }

	/* Respond*/
	.respond-form .input input {  width: 146px; }


	/* Contact Us
	 ---------------------------------------------------------------------- */
	#gmap { height: 400px;}
	.contact-form input { width: 234px; }
	.contact-form #contact-subject { width: 492px; }


	/* WooCommerce
 	 ---------------------------------------------------------------------- */

}

/* All mobile devices */
@media only screen and (max-width: 767px) {


	/* Global styles
	 ---------------------------------------------------------------------- */
	body { font-size: 13px; }

	/* Buttons */
	input[type="submit"].small, button.small, .btn.small,
	input[type="submit"].medium, button.medium, .btn.medium,
	input[type="submit"].large, button.large, .btn.large { padding: 12px 14px; font-size: 12px; }


	/* Form
	 ---------------------------------------------------------------------- */
	.form .input,
	#commentform .input {
		float: none;
		margin: 0 0 20px 0;
		width: 100%;
	}
	.form .input input,
	#commentform .input input, .contact-form #contact-subject { width: 100%; }


	/* Generic Classes
	 ---------------------------------------------------------------------- */
	.align-left, .align-right { float: none; }


	/* Content
	 ---------------------------------------------------------------------- */
	.container { width: 300px; }

	/* Columns */
	.col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-3-4 {
		float: none;
		margin-right: 0;
	}
	.col-1-2, #main .col-1-2 { width: 300px; }
	.col-1-3, #main .col-1-3 { width: 300px; }
	.col-2-3, #main .col-2-3 { width: 300px; }
	.col-1-4, #main .col-1-4 { width: 300px; }
	.col-3-4, #main .col-3-4 { width: 300px; }

	/* Main */
	#main {
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 0;
	}


	/* Lists
 	 ---------------------------------------------------------------------- */

	/* Stats list */
	ul.stats {
		margin-top: 40px;
		max-width: 300px;
	}
	ul.stats li {
		height: 65px;
		width: 100px;
	}
	ul.stats li .stat-value { 
		font-size: 38px;
	}
	ul.stats li .stat-name {
		font-size: 10px;
		color: #666;
	}


	/* Top navigation
	 ---------------------------------------------------------------------- */
	#top-wrap { 
		height: auto;
		overflow: auto;
	}
	#top-wrap .responsive-nav { display: block; }
	#top-wrap #top-nav { display: none; }
	#top-wrap .top-right-nav { 
 		margin-bottom: 10px;
 		width: 100%;
 	}


	/* Header
	 ---------------------------------------------------------------------- */

	#header { 
		height: auto; 
		overflow: auto;
	}
		#logo {
			display: block;
			float: none;
			text-align: center;
		}


		/* Main Navigation
		 ---------------------------------------------------------------------- */
		#main-nav {
			float: none;
			margin: 10px 0 20px;
		}

		#main-nav li { width: 100%; }
		#main-nav a { padding: 18px; }
		#main-nav a:after, #main-nav > ul { display: none; }
		#main-nav .responsive-nav { display: block; }
		#main-nav li:hover > ul { top: 62px; }
								

	/* Slider
	 ---------------------------------------------------------------------- */

	/* Fullwidth slider */
	.slider { min-height: 300px; }
 	.fullslider { height: 300px; }
	.fullslider-content {
		margin-left: -480px;
		width: 960px;
		height: 300px;
	}
	.fullslider .nivo-caption {
		width: 300px;
		margin-left: -150px;
	}
	.fullslider a.nivo-prevNav { margin-left:-150px; }
	.fullslider a.nivo-nextNav { margin-right:-150px; }

	/* Nivo slider */
	.nivo-caption { font-size:12px; padding: 12px; }
	.nivo-html-title { font-size: 13px; }


	/* Page Header
	 ---------------------------------------------------------------------- */

	/* Backgrounds */
	#page-header { background-image: none !important; background-color: #222 !important; }

		/* Title */
		.page-title { font-size: 36px; }

		.page-subtitle { font-size: 28px; }

	 	#page-header .hgroup { 
			width: 100%;
			max-width: 100%;
		}


		/* Sharrre
		 ---------------------------------------------------------------------- */
		#share-wrap {
			margin-top: 0;
			margin-bottom: 20px;
			clear: left;
			float: left;
		}
			#share .buttons { left: 0; }


	/* Events
	 ---------------------------------------------------------------------- */
	.countdown-title { width:112px; }
	.header-countdown-wrap { margin: 40px 0;}
	.events-list .cover { display: none; }
	.events-list .cover + .title { margin-left: 110px; }


	/* Blog
	 ---------------------------------------------------------------------- */
	.entry { margin-bottom: 40px }
	ul.entry-meta li { 
		padding: 15px 0;
		width: 33%;
		text-align: center;
	}
	ul.entry-meta li:last-child:before { display: none; }


	/* Sidebar
	 ---------------------------------------------------------------------- */
	.sidebar {
		float: none;
		width: 100%;
	}


	/* Contact Us
	 ---------------------------------------------------------------------- */
	#gmap { height: 300px;}


	/* 404
	 ---------------------------------------------------------------------- */
	.content-404 h1 { font-size: 36px;}
	.content-404 h2 { font-size: 20px;}


	/* Footer Twitter
	 ---------------------------------------------------------------------- */
	#footer-twitter {
		border-left: none;
		border-top-style: solid;
		border-top-width: 1px;
		margin-top: 20px;
	}
	#footer-twitter p {
		margin-bottom: 15px;
	}
	#footer-twitter .tweets {
		padding-top: 12px;
		padding-left: 0;
	}

	/* Sound Manager Styles
 	 ---------------------------------------------------------------------- */
	.playable .ui.volume { display: none; }
	.playable .ui.progress { margin-right: 0; }


	/* WooCommerce
 	 ---------------------------------------------------------------------- */

 	/* Top navigation */
 	#top-wrap .top-right-nav li.checkout { display: none; }
 	#top-wrap .top-right-nav li.cart a { 
 		padding-left: 0;
 	}
 	#top-wrap .top-right-nav li.cart a span.amount {
 		font-size: 16px;
 		color: #fff;
 	}
 	#top-wrap .top-right-nav li.cart a span { float: left; }
 	#top-wrap .top-right-nav li.cart a:before { display: none; }
 	/*#top-wrap .top-right-nav li.cart a .contents { display: none; }*/
 	#top-wrap .top-right-nav li.cart-wrap, #top-wrap .top-right-nav li.search { width: 50%; }

}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	
		
	/* Content
	 ---------------------------------------------------------------------- */
	.container { width: 420px; }

	/* Columns */
	.col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-3-4 {
		float: none;
		margin-right: 0;
	}
	.col-1-2, #main .col-1-2 { width: 420px; }
	.col-1-3, #main .col-1-3 { width: 420px; }
	.col-2-3, #main .col-2-3 { width: 420px; }
	.col-1-4, #main .col-1-4 { width: 420px; }
	.col-3-4, #main .col-3-4 { width: 420px; }


	/* Lists
 	 ---------------------------------------------------------------------- */

	/* Stats list */
	ul.stats { max-width: 420px; }
	ul.stats li { width: 120px; }


	/* Masonry
	 ---------------------------------------------------------------------- */
	.masonry.width-1-4 { width: 208px; }
	.masonry.height-1-4 { height: 208px; }
	.masonry.width-1-2, .masonry.width-3-4 { width: 418px; }
	.masonry.height-1-2, .masonry.height-3-4 { height: 418px; }

	/* video fix */
	.masonry.media { height: 278px; }


	/* Full player
 	 ---------------------------------------------------------------------- */
 	#full-player { width: 280px; }
	#fp-nav {}


	/* Slider
	 ---------------------------------------------------------------------- */

	/* Fullwidth slider */
	.fullslider .nivo-caption {
		width: 420px;
		margin-left: -210px;
	}
	.fullslider a.nivo-prevNav { margin-left:-210px; }
	.fullslider a.nivo-nextNav { margin-right:-210px; }

	/* Nivo slider */
	.nivo-caption { visibility: hidden; }


	/* Portfolio filter
	 ---------------------------------------------------------------------- */
	#cat-filter { margin-bottom: 12px; } 
	#cat-filter a { 
		padding: 4px 12px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		margin-bottom: 4px;
	}
	#tag-filter { float: left;}


	/* Comments
	 ---------------------------------------------------------------------- */
	.comment .comment-body, .comment .comment-meta { width: 340px; }
	.comment .children .comment-body, .comment .children .comment-meta { width: 270px; }


	/* Footer Top
 	 ---------------------------------------------------------------------- */
 	.contact li { margin-left: 0; float: none; display: block;}
 	.social-icons { float: left; }


 	/* WooCommerce
 	 ---------------------------------------------------------------------- */
	
}


@media only screen and (max-width: 479px) {

	
	/* Lists
 	 ---------------------------------------------------------------------- */

	/* Stats list */
	ul.stats {
		margin-top: 40px;
	}
	ul.stats li {
		height: 75px;
		width: 125px;
	}
	ul.stats li:nth-child(4) { margin-left: 30px;}
	ul.stats li:nth-child(5) { margin-left: 0;}
	ul.stats li:nth-child(3) { margin-left: 0;}
	ul.stats li .stat-value { 
		font-size: 44px;
	}
	ul.stats li .stat-name {
		font-size: 10px;
		color: #666;
	}


	/* Masonry
	 ---------------------------------------------------------------------- */
	.masonry.width-1-4 { width: 148px;}
	.masonry.height-1-4 { height: 148px; }
	.masonry.width-1-2, .masonry.width-3-4 { width: 298px; }
	.masonry.height-1-2, .masonry.height-3-4 { height: 298px; }

	/* Video fix */
	.masonry.media { height: 198px; }

		/* Info box */
		.masonry .text-box .inner { margin: 20px 30px; }
		.masonry .text-box .hgroup { margin-bottom: 20px !important; }
		.masonry .text-box .hgroup h3 { font-size: 14px; }


	/* Header
	 ---------------------------------------------------------------------- */
	#logo { margin-top: 20px; }


		/* Main Navigation
	 	 ---------------------------------------------------------------------- */
		#main-nav li { width: 100%; }
		#main-nav a { padding: 18px; }
		#main-nav a:after, #main-nav > ul { display: none; }
		#main-nav .responsive-nav { display: block; }
		#main-nav li:hover > ul { top: 62px; }


	/* Full player
 	 ---------------------------------------------------------------------- */
 	#full-player { 
 		width: 100%;
 		margin: 12px 0 0 0;
 	}
	#fp-nav {
		margin: 0 0 12px 0;
		float:none;
		clear: both;
		display: block;
	}


	/* Portfolio filter
	 ---------------------------------------------------------------------- */
	#cat-filter { margin-bottom: 12px; } 
	#cat-filter a { 
		padding: 4px 12px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		margin-bottom: 4px;
	}
	#tag-filter { float: left;}


	/* Slider
 	 ---------------------------------------------------------------------- */

	/* Slider boxes */
 	 #slider-boxes h6.event-title {
 	 	display: none;
	}

	/* Nivo slider */
	.nivo-caption { visibility: hidden;}


	/* Events
 	 ---------------------------------------------------------------------- */

 	/* Countdown */
 	.countdown { border-left: none;}
 	.countdown .days, .countdown .hours, .countdown .minutes { min-width: 49px }
	.countdown .seconds { min-width: 51px; }
	.countdown-title { display: none; }
	.header-countdown .days, .header-countdown .hours, .header-countdown .minutes, .header-countdown .seconds {
		margin: 8px;
		height: 120px;
		width: 120px;
		line-height: 120px;
		font-size: 38px;
	}
	.header-countdown .days:after, .header-countdown .hours:after, .header-countdown .minutes:after, .header-countdown .seconds:after {
		font-size: 12px;
		bottom: -40px;
	}

	/* Events list */
	#upcoming-events {
		background: #222 url(../img/map.png) right 60px no-repeat;
	}
	.events-list .date { font-size: 24px; }
	.events-list .title {
		float: left;
		font-size: 12px;
		margin: 0px 0 0px 80px;
		padding-right: 66px;
	}
	.events-list .cover + .title { margin-left: 80px; }


	/* Comments
	 ---------------------------------------------------------------------- */
	.comment .comment-body, .comment .comment-meta { width: 220px; }
	.comment .children .comment-body, .comment .children .comment-meta { width: 150px; }


	/* Contact Us
	 ---------------------------------------------------------------------- */
	#gmap { height: 300px;}


	/* Footer Top
 	 ---------------------------------------------------------------------- */
 	.contact li { margin-left: 0; float: none; display: block;}
 	.social-icons { float: left; }
		
}