﻿/*------------------------------------------------------------------------
 Theme Name:    Eprom (Shared on LegitLeaks.com)
 Description:   The Rascals Themes EPROM WordPress theme is an ultimate, no compromise and ready to use WP template, suitable for widely understood music industry. Whoever you are – DJ, music producer, events producer or you just love the music – EPROM theme is exactly what you need! We’ve made an effort to give you the very best, innovative, full of options suite to fulfill all of your internet presentation needs. EPROM WP theme is an expanded version of our EPROM Html template. It’s main feature is that it’s basing on shortcodes which gives you almost unlimited possibilities of adaptation of the theme to your specific needs. In simple words: it’s very flexible. You need a portfolio only? No problem! EPROM can easily work as a stand alone, creative portfolio as well! Offcourse WordPress version comes with "Slider Revolution" slider, one of the best available and implemented for free so we dare to say that it’s the best deal for you!
 Version:       1.4.7
 Author:        Rascals Themes
 Author URI:    http://rascals.eu
 License: GNU   General Public License
 License URI:   license.txt
 Theme URI:     http://rascals.eu
 Tags:          editor-style, custom-menu, fixed-width, threaded-comments
 ------------------------------------------------------------------------*/


/* ----------------------------------------------------------------------
	Default Wordpress styles
/* ---------------------------------------------------------------------- */

/* Captions */
.wp-caption {
	max-width: 100%;
	padding: 4px;
}
.wp-caption .wp-caption-text, .gallery-caption, .entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}

/* Sticky post */
.sticky .featured-post { font-size: 14px; }