.breadcrumbs
{
	margin:10px 15px;
}
.breadcrumbs span,.breadcrumbs a,.breadcrumbs p
{
	color:#333;
}
.breadcrumbs a
{
	text-decoration: none;
}
.breadcrumbs a:hover
{
	text-decoration: underline;
	color:red;
}
@media only screen and (min-width:320px) and (max-width:480px){
	*
	{
		max-width: 100%!important;
	}
	body
	{
		width:100%;	
	}
	#wrapper
	{
		width:93%;
	}
	#wrapper #header
	{
		width:100%;
		height:auto;
	}
	#wrapper #header .res1
	{
		width:100%!important;
	}
	#wrapper h1.call-action
	{
		margin:10px 0px;
		padding:0px 5px;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
	}
	#banner
	{
		width:100%;
		
	}
	#logo
	{
		width:100%;
		margin:0px;
		padding:0px;
	}
	#logo img
	{
		width:60%;
		display: block;
		margin:0px auto;
	}
	#nav
	{
		display:none;
	}
	#primary
	{
		width:100%;
		float:none;
	}
	#primary #sidebar
	{
		float:none;
		display: none;
	}
	#primary div#sidebar div.online
	{
		width:85%;
	}
	#summary div.product1,#summary
	{
		width:93%;
		float:none;
		margin:0px auto;
	}
	#summary div.product1 h2
	{
		width:100%;
		padding:0px;
	}
	#summary div.product1 div.product
	{
		width:100%!important;
		height:auto;
	}
	.product ul li.images-product
	{
		width:100%;
		height:auto;
	}
	#summary div.product1 div.product img
	{
		height:auto;
		width: auto;
		max-width: 162px;
	}
	.product ul li.images-product:after
	{
		background:none;
	}
	.itemname
	{
		height:auto;
	}
	#summary div.product1 div.product
	{
		padding-bottom:10px!important;
	}
	.col-ft
	{
		width:92%;
		float:none;
	}
	.top_show {
	    height: auto;
	    margin: 0 auto;
	    width: 100%;
	    position: relative;
	}
	#search #s
	{
	    width:79%;
	}
	#search #searchsubmit{
		width: 100%;
	}
	.top_show li, .top_show span{
		line-height: 22px;
	}
	.top_show ul, .top_show span{
		display: block;
		padding-left: 0;
	}
	.top_show{
		padding-bottom: 10px;
	}
	#wrapper{
		margin: 0 auto;
	}
	#searchform >div > div{
		margin-top: 10px;
	}

}
@media only screen and (min-width:481px) and (max-width:768px){
	*
	{
		max-width: 100%!important;
	}
	body
	{
		width:100%;	
	}
	#wrapper
	{
		width:93%;
	}
	#searchform >div > div{
		margin-top: 10px;
	}
	#wrapper #header
	{
		width:100%;
		height:auto;
	}
	#wrapper #header .res1
	{
		width:100%!important;
	}
	#wrapper h1.call-action
	{
		margin:10px 0px;
		padding:0px 5px;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
	}
	#banner
	{
		width:100%;
		
	}
	#logo
	{
		width:100%;
		margin:0px;
		padding:0px;
	}
	#logo img
	{
		width:60%;
		display: block;
		margin:0px auto;
	}
	#nav
	{
		display:none;
	}
	#primary
	{
		width:100%;
		float:none;
	}
	#primary #sidebar
	{
		float:none;
		display: none;
	}
	#primary div#sidebar div.online
	{
		width:85%;
	}
	#summary div.product1,#summary
	{
		width:93%;
		float:none;
		margin:0px auto;
	}
	#summary div.product1 h2
	{
		width:100%;
		padding:0px;
	}
	#summary div.product1 div.product
	{
		width:100%!important;
		height:auto;
	}
	.product ul li.images-product
	{
		width:100%;
		height:auto;
	}
	#summary div.product1 div.product img
	{
		height:auto;
	}
	.product ul li.images-product:after
	{
		background:none;
	}
	.itemname
	{
		height:auto;
	}
	#summary div.product1 div.product
	{
		padding-bottom:10px!important;
	}
	.col-ft
	{
		width:92%;
		float:none;
	}
	.top_show {
	    height: auto;
	    margin: 0 auto;
	    width: 100%;
	    position: relative;
	}
	#search #s
	{
	    width:79%;
	}
	#search #searchsubmit{
		width: 100%;
	}
	.top_show li, .top_show span{
		line-height: 22px;
	}
	.top_show ul, .top_show span{
		display: block;
		padding-left: 0;
	}
	.top_show{
		padding-bottom: 10px;
	}
	#wrapper{
		margin: 0 auto;
	}
	#WzBoDy,#WzBoDy table{
	    width: 268px !important ;
	}
}