/* Edited with EditCSS */
/**** Style sheets whose contents could be loaded were ****/
/**** imported instead. Rule order may be incorrect ****/
/**** as a result. ****/
/**** LINK-tag style sheet style.css ****/

/* Non-http; imported above. */
html,body,div,span,h1,h2,h3,h4,h5,strong,ol,ul,li
{
margin: 0;
padding:0;
border:0;
outline"0;
vertical-align:baseline;
background: transparent;
}
.price_old
{
    text-decoration: line-through;
    font-size:12px;
    text-align:center;
}
body
{
font-size: 12px;
font-family: Arrial, Times, serif;
line-height: 1.5 em;
}
ol,ul
{
list-style: none;
}
a { text-decoration: none;}
a:hover {text-decoration: underline;}
.clear{ clear:both;}
a img{ border:none;}
#nen
{width: auto; height: auto;
margin: 0 auto;
background: #d4d4d4 url(images/bg.jpg);
background-repeat:repeat-y;
background-position:top center;
font-family: arial;}
#wrapper
{
 width: 982px;
margin: 30px auto 0 ;
background: white;
border: 1px solid #cec0cd;
border-radius: 4px 4px 2px 2px;
}

#header
{
 width: auto;
height: 179px;
background-image: url(images/header_bg.png);
}

#logo
{
float: left;
width: 306px;
height: 71px;
text-align: left;
margin-left: 28px;
margin-top:10px;
}
a{
    outline: none;
}
a:focus{
    outline: none;
}
#nav ul li
{ display: inline;}

#header div#logo span.welcome
{ text-transform: uppercase; font-size: 10px; color: #4c4b4b;
}
#header div#logo
{ text-transform: uppercase; font-size: 10px; color: #4c4b4b;
}
#header div#logo span.login a
{ color: #a90000; font-weight: bold;}

# header div#nav
{
height: 42px;
background-image: url(images/menu_bg.png);

}
#header div#nav ul#mainnav
{
margin-left: 0px;
text-transform: uppercase;
}

#header div#nav ul#mainnav li
{ float: left;
position: relative;
}

#header div#nav ul#mainnav li a
{ display: block;
color: black;
font-size: 12px;
 margin: 8px 24px;
 line-height: 39px;
  font-weight: bold;
  white-space: nowrap;}
#header div#nav ul#mainnav li a:hover{
color: #d71921;
text-decoration: none;
}
#header div#nav li ul
{
position: absolute ;
z-index: 9999;
left:10px;
width: 198px;
display: none;
color: white;
background-color: #a90000;
border-radius: 10px;
}

#header div#nav ul#mainnav li ul li
{
width: 100%;

}
#header div#nav ul#mainnav li ul li a
{
color: white;
font-size: 12px;
margin: 0px;
margin-left: 16px;
}

#header div#nav ul#mainnav li:hover ul
{display: block;
}

#banner
{
/* background-image: url(images/banner_bg.jpg); */
background-repeat: repeat-x repeat-y;
width: 982px;
border-radius: 0px 5px 5px 0px;
}
#banner div#slide
{
 margin: 7px 21px;
}

#banner div#slide_des
{
margin: 0px 10px 20px 20px;
}

#banner div#slide_des div.des1
{
width: 315px; height: 139px; float:left;
background-image: url(images/guitar1.jpg);
cursor: pointer;
}
#banner div#slide_des div.des1 p
{
 width: 178px;
height: 69px;
margin-top:10px;
margin-left: 20px;
}
#banner div#slide_des div.des1 span.guitar_name a
{ font-size: 13px;
font-weight: bold;
color: #a90000;
}

#banner div#slide_des div.des1 span.guitar_model
{
font-size: 20px;
font-weight: bold;
color: #979696;
}
#banner div#slide_des div.des1 span.guitar_price
{
font-size: 23px;
font-weight: bold;
color: #ffffff;
font-family:"utm rockwell";
}

#primary
{
float: left;
width: 982px;
margin-top: 10px;
background-image: url(images/banner_bg.jpg) repeat-x repeat-y top left;
}

#primary div#sidebar div.cat
{
width: 182px;
margin-bottom:20px;
margin-left: 20px;
border: 1px solid #e0e0e0;
}
#primary div#sidebar div.cat h3
{
background-image: url(images/cat_bg.png);
height: 36px;
text-align: center;
color: white;
line-height: 36px;
}
#primary div#sidebar div.cat ul li
{
height: 28px;
border-bottom: 1px dotted #cec0cd;
padding: 9px 10px 3px 10px;
width: 160px;
background:url('images/white_cat.png') no-repeat 3px 8px;
padding-left:10px;
}
#primary div#sidebar div.cat ul li.current-menu-item,#primary div#sidebar div.cat ul li:hover
{
    background:url('images/red_cat.png') no-repeat 3px 8px;
}
#primary div#sidebar div.cat ul li img{
margin-top:5px;
margin-right: 5px;
}
#primary div#sidebar div.cat ul li a{
color: black;
line-height: 23px;
padding-left:15px;
}
#primary div#sidebar div.cat ul li a:hover{
color: #a00000;
text-decoration: none;
}
#primary div#sidebar div.online{
width: 182px;
margin-left: 20px;
border: 1px solid #e0e0e0;
}
#primary div#sidebar div.online h3
{
background-image: url(images/cat_bg.png);
height: 36px;
text-align: center;
color: white;
line-height: 36px;
}

#primary div#sidebar div.online p span{
padding: 0px 10px;
}

#primary div#sidebar div.online p img{
margin-top: -10px;
cursor: pointer;
}
#primary div#sidebar div.online p a{
 height: 42px;
text-align: center;
color: white;

 line-height: 36px;
 margin-left: 14px;
}

#primary div#sidebar div.online p span{
padding: 0px 10px;
font-weight: bold;
}

#primary div#sidebar div.online p img{
margin-top: -10px
}
#sidebar
{
    float:left;
}
#summary{
width: 756px;
float:right;
}
#summary div.product1{
width: 751px;
border: 1px solid #edecec;
border-radius: 3px 3px 3px 3px;
margin-bottom:10px;
margin-right:5px;
}
.product li img{
/*transition*/
-webkit-transition:all 1s;
   -moz-transition:all 1s;
     -o-transition:all 1s;
        transition:all 1s;
}
#summary div#product5{
width: 751px;
height: auto;
padding:10px;
border: 1px solid #edecec;
border-radius: 3px 3px 3px 3px;
}

#product5 img.to { margin: 18px 3px; border: 1px solid #cec0cd; width: 300px; border-radius: 3px 3px 3px 3px; /* float: left; */}

#product5 img.be{}

#product5 div#sanpham h3{ text-align: center; font-size: 20px; color: #a00000; /* border: 1px solid; */ width: 600px; margin: 15px auto;}
#product5 div#sanpham p{ font-size: 16px; color: #9f9f9e;
}
.thumb_single li
{
    float:left;
    margin:0px 2px;
    width:75px;
    height:75px;
    border:2px solid #fff;
    box-shadow:0px 0px 5px #ccc;
    }
.thumb_single li img
{
    width:100%;
    height:100%;
}
#summary div.product1 h2
{
background-image: url(images/title2.jpg);
width: 749px;
height: 30px;
text-align: left;
line-height: 30px;
padding: 0 10px;
color: #4f4e4e;
font-size: 17px;
}
#summary div.product1 h2 a
{
    color:#fff;}
#summary div.product1 div.product{
width: 183px;
height:365px;
float:left;
margin:2px;
padding: 5px 5px;
border: 1px dotted rgb(233, 233, 233);
background-color: rgb(250, 250, 250);
}
.giohangbtn{
background-image: url(images/button1.jpg);
width: 102px;
border: 1px solid #a00000;
border-radius: 3px 3px 3px 3px;
text-align:center;
padding:2px 0px;
display:block;
}
.giohangbtn:hover{

    text-decoration: underline;
    color: rgb(240, 240, 240);
}
#summary div.product1 div.product img{
margin: 0px auto;
text-align:center;
padding:5px 0px;
display:block;
cursor: pointer;
}

#summary div.product1 div.product ul li.itemname a{
text-align: center;
color: #9f0100;
display:block;
font-size: 12px;
font-weight: bold;
}
#summary div.product1 div.product ul li.itemprice{
color: red;
font-size: 13px;
font-weight: bold;
text-align: center;
}
#summary div.product1 div.product ul li input{
padding: 0px;
margin-left: 30px;
background-image: url(images/button1.jpg);
color: white;
width: 102px;
height: 24px;
border: 1px solid #a00000;
border-radius: 3px 3px 3px 3px;
cursor: pointer;
}



#wrapper div#footer{
width: 980px;

    /* text-align: center; */
}

#wrapper div#footer div.name{
text-transform: uppercase;
}

#wrapper div#footer div.name p span.comname{
color: #a00000;
font-weight: bold;
}
#wrapper div#footer div.name p span.cominfo{
color: #464646;
}
#wrapper div#footer div.name p span.copy{
color: #464646;
}

#wrapper div#footer div.social img{cursor: pointer;}



#contact{
height: auto;
}



#wrapper div#footer div.name p span.comname{
color: #a00000;
font-weight: bold;
}
#wrapper div#footer div.name p span.cominfo{
color: #464646;
}
#wrapper div#footer div.name p span.copy{
color: #464646;
}

#wrapper div#footer div.social img{cursor: pointer;}
#contact{
height: auto;
float: left;
}

#wrapper div#footer div.name p span.comname{
color: #a00000;
font-weight: bold;
}
#wrapper div#footer div.name p span.cominfo{
color: #464646;
}
#wrapper div#footer div.name p span.copy{
color: #464646;
}

#wrapper div#footer div.social img{cursor: pointer;}

#header div#nav ul#mainnav li ul li:hover a {
 color: rgb(224, 224, 224);
}
li #itemname {
height: 46px; }
#summary div.product1 div.product ul li.itemname a:hover {
    text-decoration: none;
    color:gray;
}
div#slide_des {
display: none
}

.name {
    margin: auto;
}
.footer1 {
    margin: 0;
    height: 116px;
    background: #d71921;
}
.footer1 p {
    padding: 0px;
    margin: 0px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(139, 139, 139);
}
.left1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 22px;
    text-align: center;
}

.footer2 {
    width: 100%;
    height: 26px;
    background: rgb(63, 63, 63);
    align-content: center;
    text-align: center;
}
.left2{
    color: #9B9B9B;
    text-transform: none;
    line-height: 26px;
    margin-left: 20px;
}

.left2 a {
     color: #D5D5D5;
    text-transform: none;
    }

.social {
    display: none;


}

.face {
position: relative;
width: 400px;
height: 50px;
float: left;
top: 38px;
}

.diachi1 {
/* float: left; */
/* width: 500px; */
color: #fff;
text-align: center;
}
.left-single-product
{
    float:left;
    width:258px;
}
.right-product
{
    width:407px;
    float:left;
}
.right-product h1.title-product
{
    font-size: 18px;
    color:#a10200;
}
.right-product ul li .price-old
{
text-decoration: line-through;
font-size:12px;
}
.right-product ul li .price
{h;
font-size:14px;
color:red;
font-weight: bold;
}
.right-product ul li b
{
    text-transform: uppercase;
    font-size: 12px;
    margin-right:10px;
}
.top-right
{
    padding:20px 0px;
}
#searchsubmit
{
    /*border:1px solid #ccc;*/
    text-transform: uppercase;
    /*margin:5px 0px;*/
}
#s{width:100%;}
.col-ft
{
    float:left;
    width: 32%;
    margin-bottom:15px;
}
.col-ft h3
{
    color:#fff;
    border-bottom: 1px solid #576776;
    margin-top:10px;
    padding-bottom:10px;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:10px;
    font-weight:bold;
}
#footer
{
    background:#9D4A4D;
    margin-top:20px;
}
.col-ft ul li
{
    list-style:none;
    
}
.col-ft
{
    padding:10px;
}
.col-ft ul li ul
{
    margin-left:0px!important;
}
.col-ft ul li a
{
    color:#fff;
    display:block;
    border:none!important;
    background:none!important;
    font-weight:normal!important;
    margin:0!important;
}
#header
{
    position: relative;
}
#search
{
    display:block;
    background:#ececec;
    border:1px solid #ccc;
    padding:10px;
}
#search #s
{
    width:92%;
    padding:5px 10px;
    border-radius: 3px;
    border:1px solid #ccc;
    float:left;
}
.product ul li.images-product
{
    position: relative;
}
.product ul li.images-product:after
{
    content:"";
    position: absolute;
    width: 100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:2;
    /*background: url('../img/bg-product.png') no-repeat center;*/
}
#search #searchsubmit
{
    /*border-radius: 3px;*/
    /*padding:4px 4px;*/
    /*margin-top:3px;*/
    /*margin-left:3px;*/
    font-size: 12px;
    color:#fff;
    /*background:#ff0020;*/
}
.top_show {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #eee;
    height: 30px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.top_show ul {
    display: inline-block;
    list-style: outside none ne;
    overflow: hidden;
    line-height: 30px;
    padding-left: 5px;
}
.top_show li {
    display: inline-block;
    line-height: 20px;
}
.top_show li a {
    color: #333;
    font-style: italic;
}
.top_show span {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    padding-left: 50px;
}
.top_show span i {
    padding-right: 10px;
}
.top_show i{

}
.top_show span.tel{
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.top_show span.address{
    color: #444;
}
.top_show > div{
    text-align: center; 
}
#contact-page{
    width: 100%;
}
#contact-page .product1 h2 {
    color: #444;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
.contat{
    margin-top: 20px;
}
.contat h3{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    color: #444;
    border-bottom: 3px solid #dddddd;
}
.contat address {
    color: #444;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 0;
}
.contactName input, .email input, .tel-5 input{
    width: 100%;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    border-radius: 0;
    box-shadow: none;
    padding: 7px 16px;
}
.contactName input:focus, .email input:focus, .tel-5 input:focus, #contact textarea:focus,#contact input[type="submit"]:hover{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color:#35bc7a;
    box-shadow: none;
}
#contact input[type="submit"]:hover{
    color: #35bc7a;
}
#contact > div{
    padding: 0 5px;
}
#contact{
    margin: 0 -5px;
    padding-top: 10px;
}
#contact textarea{
    width: 100%;
    margin-top: 10px;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    border-radius: 0;
    box-shadow: none;
    padding: 7px 16px;
}
#contact input[type="submit"] {
    font-family: arial;
    font-size: 13px;
    margin-top: 10px;
    background: none repeat scroll 0 0 #35bc7a;
    border-color: #35bc7a;
    height: 36px;
    line-height: 1.2em;
    color: #fff;
    border-radius: 0;
}

.top_show li{
    border-right: 1px solid #ddd;
}
.top_show li:first-child,.top_show li:last-child{
    border-right:none;
}
.tooltip{
    opacity: 1;
}
#WzBoDy, #WzTiTl, #WzTtDiV,#WzBoDy table{
    width: 268px !important ;
}
.tooltip img{
    width: 250px;
}
.des_un {
    background: none repeat scroll 0 0 #eee;
    border-radius: 5px;
    font-style: italic;
    margin-top: 20px;
    text-align: justify;
}
#address_un a.active{
    background-color: #eee;
    font-weight: bold;
}
#address_un a.tabs_un{
    color: #444;
    display: block;
}
#address_un a:hover{
    font-weight: bold;
}
.readmore {
    line-height: 40px;
    text-align: right;
}
.readmore a{
    background-color: #ff0020;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 30px;
    border-radius: 3px;
}
.readmore a:hover{
    font-weight: bold;
}
.jcarousel li img{
    width: 100%;
    height: auto;
}
.xnews .post-list_h {
    background: rgba(0,0,0,0.5);
    bottom: 5px;
    margin-bottom: 0;
    padding: 3px 12px;
    position: absolute;
}
.jcarousel li a{
    padding: 0 !important;
    margin: 0 !important;
    color: #fff !important;
    font-weight: bold !important;
}
.jcarousel li a h4{
    font-weight: bold !important;
}
.jcarousel li{
    position: relative;
    padding: 0 0 5px;
}
.jcarousel-prev, .jcarousel-next{
    /*display: none !important;*/
}
#mycarousel2 li img{
    width: 75px !important;
    height: 75px !important;
    overflow: hidden;
}
#mycarousel2 li{
    display: block !important;
    padding: 2.5px 0 !important;
    border-bottom: 1px solid #eee;
}
#mycarousel2 li a{
    float: left;
}
#mycarousel2 .post-list_h {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 3px 5px;
    height: 58px;
    position: relative;
    margin-top: 10px;
}
#mycarousel2 .post-list_h a{
    color: #000 !important;
    display: inline-block; 
    font-weight: normal !important;
    line-height: 18px;
}
.mycarousel2 .jcarousel-clip{
    height: 400px;
}
.mycarousel2 .jcarousel-clip li{
    height: 80px;
    overflow: hidden;
}
#searchform select, #searchform input[type=text]{
    width: 100%;
}
.form-control{
    padding: 6px 12px!important;
    font-size: 12px;
}
.select2-container{
    padding: 6px 0 6px 12px !important;
}

.textwidget {
margin: 0px 15px;
}
#footer{
    background-color: #3a3a3a;
    background-image: url("images/outlets.png");
    border-top: 1px solid #444444;
    color: #a8a8a8;
    padding-bottom: 40px;
    padding-top: 40px;
}
.gioithieu a.gioithieu_img{
    display: inline-block;overflow: hidden;background: #FFFFFF;
}
.lienhe h6 {
    color: #fff;
    font-weight: bold !important;
    font-family: Open Sans, helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.lienhe ul.unstyled {
    margin-left: 0 !important;
}
.lienhe ul {
    list-style: outside none none !important;
}
.lienhe ul {
    margin-left: 0 !important;
}
ul.unstyled, ol.unstyled {
    list-style: outside none none;
    margin-left: 0;
}
.gioithieu {
    color: #a8a8a8;
    font-family: open sans,helvetica,sans-serif;
    font-size: 12px;
    text-transform: none;
}
.lienhe ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding: 5px 0;
}
.lienhe ul li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 2px !important;
}
.lienhe .textwidget{
    margin: 0;
}
.lienhe ul li a {
    color: #999999;
    text-decoration: none !important;
}
.lienhe a {
    color: #a8a8a8 !important;
}
.lienhe a {
    text-decoration: underline !important;
    transition: all 0.2s ease-in-out 0s;
}
.lienhe .well {
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: medium none;
    border-radius: 0 !important;
    box-shadow: none;
    line-height: 20px !important;
    padding: 20px !important;
    text-transform: none;
}
.lienhe .well h6{
    text-transform: uppercase;
}
.wpb_button.wpb_wpb_button.wpb_btn-small {
    border-radius: 3px;
    font-size: 11px;
    margin: 0;
    padding: 3px 7px;
}
.support_footer {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    margin-top: 10px;
    padding: 33px 0;
    overflow: hidden;
}
.support_footer .img_thumb {
    background-color: #fff;
    border-radius: 50%;
    float: left;
}
.support_footer .img_thumb img {
    background-color: #f5f5f5;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s ease-in-out 0s;
}
.support_footer .s_detail {
    float: left;
    padding-left: 15px;
}
.s_detail > h3 {
    color: #6c6b6b;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
}
.s_detail a{
    margin: 0;
}
.s_detail > p {
    color: #6c6b6b;
    font-family: arial;
    font-size: 12px;
    margin: 0;
    line-height: 20px;
}
.s_detail > a {
    color: #a1a1a1;
    display: inline-table;
    font-family: arial;
    font-size: 12px;
    padding: 5px 7px 0 0;
    vertical-align: middle;
}
.s_detail img {
    padding-right: 6px;
    vertical-align: middle;
}